{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ STATIC_URL }}responses/css/responses.css"/>
  <script src="{{ STATIC_URL }}responses/js/responses.js"></script>
{% endblock %}

{% block body %}

<table class="plain">

  <tr>
    <td>
      <img src="{{ STATIC_URL }}responses/img/slider/pakt,igf-1,100,10__perk,fgf-1,100,10.png">
    </td>
    <td>
      pAKT [IGF-1], pERK [FGF-1] (over time)
    </td>
  </tr>

  <tr>
    <td>
      <img src="{{ STATIC_URL }}responses/img/erbb2__perbb2.png">
    </td>
    <td>
      Basal ErbB2, pErbB2
    </td>
  </tr>

  <tr>
    <td colspan="2"><h2>Ligand responses</h2></td>
  </tr>
  <tr>
    <td>
      <p><img src="{{ STATIC_URL }}responses/img/perk,btc,100,m__perk,egf,100,m.png">
      <p class="caption">pERK [BTC], pERK [EGF]
    </td>
    <td>
      <p><img src="{{ STATIC_URL }}responses/img/pakt,egf,100,m__pakt,hrg,100,m.png">
      <p class="caption">pAKT [EGF], pAKT [HRG]
    </td>
  </tr>
  <tr>
    <td>
      <p><img src="{{ STATIC_URL }}responses/img/pakt,fgf-1,100,m__perk,fgf-1,100,m.png">
      <p class="caption">pAKT [FGF-1], pERK[FGF-1]
    </td>
    <td>
      <p><img src="{{ STATIC_URL }}responses/img/pakt,igf-1,100,m__perk,igf-1,100,m.png">
      <p class="caption">pAKT [IGF-1], pERK[IGF-1]
    </td>
  </tr>

  <tr>
    <td colspan="2"><h2>Basal protein levels</h2></td>
  </tr>
  <tr>
    <td>
      <p><img src="{{ STATIC_URL }}responses/img/akt__pakt.png">
      <p class="caption">Basal AKT, pAKT
    </td>
    <td>
      <p><img src="{{ STATIC_URL }}responses/img/pakt__perbb2.png">
      <p class="caption">Basal pAKT, pErbB2
    </td>
  </tr>
  <tr>
    <td>
      <p><img src="{{ STATIC_URL }}responses/img/erbb2__perbb2.png">
      <p class="caption">Basal ErbB2, pErbB2
    </td>
    <td>
      <p><img src="{{ STATIC_URL }}responses/img/perbb2__perbb3.png">
      <p class="caption">Basal pErbB2, pErbB3
    </td>
  </tr>

</table>


{% endblock %}
