{% extends "base.html" %}

{% block head %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}responses/js/responses.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}responses/css/responses.css"/>
{% endblock %}

{% block body %}

<table>

  <tr>
    <td>
      <img src="{{ STATIC_URL }}responses/img/slider/pakt,igf-1,100,10__perk,fgf1,100,10.png">
    </td>
    <td>
      pAKT [IGF-1], pERK [FGF-1] (over time)
    </td>
  </tr>

  <tr>
    <td>
      <img src="{{ STATIC_URL }}responses/img/erbb2__perbb2.png">
    </td>
    <td>
      Basal ErbB2, pErbB2
    </td>
  </tr>

  <tr>
    <td colspan="2"><h2>Ligand responses</h2></td>
  </tr>
  <tr>
    <td>
      <p><img src="{{ STATIC_URL }}responses/img/perk,btc,100__perk,egf,100.png">
      <p class="caption">pERK [BTC], pERK [EGF]
    </td>
    <td>
      <div style="width: 300px; height: 300px; background: #ffffa0;">[IMAGE MISSING]</div>
      <p class="caption">pAKT [EGF], pAKT [HRG]
    </td>
  </tr>
  <tr>
    <td>
      <div style="width: 300px; height: 300px; background: #ffffa0;">[IMAGE MISSING]</div>
      <p class="caption">pAKT [FGF-1], pERK[FGF-1]
    </td>
    <td>
      <p><img src="{{ STATIC_URL }}responses/img/pakt,igf-1,100__perk,igf-1,100.png">
      <p class="caption">pAKT [IGF-1], pERK[IGF-1]
    </td>
  </tr>

  <tr>
    <td colspan="2"><h2>Basal protein levels</h2></td>
  </tr>
  <tr>
    <td>
      <p><img src="{{ STATIC_URL }}responses/img/akt__pakt.png">
      <p class="caption">Basal AKT, pAKT
    </td>
    <td>
      <p><img src="{{ STATIC_URL }}responses/img/pakt__perbb2.png">
      <p class="caption">Basal pAKT, pErbB2
    </td>
  </tr>
  <tr>
    <td>
      <p><img src="{{ STATIC_URL }}responses/img/erbb2__perbb2.png">
      <p class="caption">Basal ErbB2, pErbB2
    </td>
    <td>
      <p><img src="{{ STATIC_URL }}responses/img/perbb2__perbb3.png">
      <p class="caption">Basal pErbB2, pErbB3
    </td>
  </tr>

</table>


{% endblock %}
