{% extends "base.html" %}

{% block head %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}responses/js/responses.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}responses/css/responses.css"/>
{% endblock %}

{% block body %}

<table>

  <tr>
    <th>
      pAKT [IGF-1], pERK [FGF-1] (over time)
    </th>
    <td>
      <img src="{{ STATIC_URL }}responses/img/slider/pakt,igf-1,100,10__perk,fgf1,100,10.png">
    </td>
  </tr>

  <tr>
    <th>
      Basal ErbB2, pErbB2
    </th>
    <td>
      <img src="{{ STATIC_URL }}responses/img/erbb2__perbb2.png">
    </td>
  </tr>
  <tr>
    <th>
      Basal AKT, pAKT
    </th>
    <td>
      <img src="{{ STATIC_URL }}responses/img/akt__pakt.png">
    </td>
  </tr>
  <tr>
    <th>
      Basal pAKT, pErbB2
    </th>
    <td>
      <img src="{{ STATIC_URL }}responses/img/pakt__perbb2.png">
    </td>
  </tr>
  <tr>
    <th>
      Basal pErbB2, pErbB3
    </th>
    <td>
      <img src="{{ STATIC_URL }}responses/img/perbb2__perbb3.png">
    </td>
  </tr>
  <tr>
    <th>
      Basal ErbB3, pErbB3
    </th>
    <td>
      <img src="{{ STATIC_URL }}responses/img/erbb3__perbb3.png">
    </td>
  </tr>

  <tr>
    <th>
      pERK [FGF-1], pERK [FGF-2]
    </th>
    <td>
      <img src="{{ STATIC_URL }}responses/img/perk,fgf1,100__perk,fgf2,100.png">
    </td>
  </tr>
  <tr>
    <th>
      pAKT [EGF], pERK [EGF]
    </th>
    <td>
      <img src="{{ STATIC_URL }}responses/img/pakt,egf,100__perk,egf,100.png">
    </td>
  </tr>
  <tr>
    <th>
      pERK [BTC], pERK [EGF]
    </th>
    <td>
      <img src="{{ STATIC_URL }}responses/img/perk,btc,100__perk,egf,100.png">
    </td>
  </tr>
  <tr>
    <th>
      pERK [EGF], pERK [HRG]
    </th>
    <td>
      <img src="{{ STATIC_URL }}responses/img/perk,egf,100__perk,hrg,100.png">
    </td>
  </tr>
  <tr>
    <th>
      pAKT [IGF-1], pERK[IGF-1]
    </th>
    <td>
      <img src="{{ STATIC_URL }}responses/img/pakt,igf-1,100__perk,igf-1,100.png">
    </td>
  </tr>

</table>


{% endblock %}
