*.log
*.pot
*.pyc
local_settings.py
*.db
src/test/scratch/*
temp/*
.project
.pydevproject
.settings/*
bak/*
.DS_Store
src/onetime/makepng
src/onetime/makesvg
data/networks/xgmml
.deploy
django/*/static/*/g
