Django #==1.4.2
Pillow #==1.7.8
distribute #==0.6.30
django-tables2 #==0.13.0
django-tastypie #==0.9.11
flup #==1.0.3.dev-20110405
ipython #==0.13
lxml #==3.0.1
matplotlib #==1.1.1
numpy #==1.6.2
psycopg2 #==2.4.5
requests #==0.14.1
wsgiref #==0.1.2
xlrd #==0.8.0
xlwt #==0.7.4
