{% extends "base.html" %}

{% load trail_threshold_variability %}

{% block head_extra %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}trail_threshold_variability/css/jquery-ui/jquery-ui-1.11.0-pre.min.css"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}trail_threshold_variability/css/style.css"/>
  <script type="text/javascript" src="{{ STATIC_URL }}trail_threshold_variability/js/jquery-ui/jquery-ui-1.11.0-pre.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}trail_threshold_variability/js/main.js"></script>
{% endblock %}

{% block title %}
  A caspase threshold underlies cell-to-cell variability in apoptosis -
  {{ block.super }}
{% endblock %}

{% block contentclass %}fullwidth{% endblock %}

{% block body %}

  <h1>A caspase threshold underlies cell-to-cell variability in apoptosis</h1>

  <h2>Data and software downloads</h2>

  <table>
    <tr>
      <td>1.</td>
      <td style="width: 30em;">Well-by-well summary of the fitted parameters for each replicate of each
        individual experiment (treatment condition).</td>
      <td><a href="{{ data_paths.1 }}">Download (.tsv)</a></td>
    </tr>
    <tr>
      <td>2.</td>
      <td>All raw data, smoothed single-cell trajectories, and fitted parameters
      for each replicate for each experiment.</td>
      <td><a href="{{ data_paths.2 }}">Download (.zip)</a></td>
    </tr>
    <tr>
      <td>3.</td>
      <td>TODO - need description for this file.</td>
      <td><a href="{{ data_paths.3 }}">Download (.zip)</a></td>
    </tr>
    <tr>
      <td>4.</td>
      <td>The MATLAB code for the image processing routines developed for this
      project.</td>
      <td><a href="{{ data_paths.4 }}">Download (.zip)</a></td>
    </tr>
  </table>

  <h2>Treatment/dose lookup table</h2>

  <p>Click on any dose entry in this table to view trajectory and landscape
    plots for the corresponding experiment.</p>

  <ul>
    <li>Where Bortezomib is used the concentration is always 100 nM; likewise
    ABT-263 is used at 10 &mu;M.</li>
    <li>Only one biological replicate is shown for each experiment, but all data
    are available for download (see above).</li>
  </ul>

  <table class="lookup-table">
    {% for section in table %}
      <tr>
        <th colspan="99"><h3>{{ section.name }}</h3></th>
      </tr>
      <tr class="treatment-heading"><th>Treatment</th><th colspan="99">Doses</th></tr>
      {% for treatment in section.treatments %}
        <tr class="treatment">
          <td>
            {{ treatment.name_main }} (<em>{{ treatment.unit }}</em>)
            {% if treatment.name_other %}
              + {{ treatment.name_other }}
            {% endif %}
          </td>
          {% for dose in treatment.doses %}
            <td class="lookup-table-hotspot cell-{{ dose.id }}">
              <a href="img/popup/{{ dose.img_filename }}">{{ dose.amount }}</a>
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    {% endfor %}
  </table>

  {% for section in table %}
    {% for treatment in section.treatments %}
      {% for dose in treatment.doses %}
        {% include "trail_threshold_variability/popup.html" %}
      {% endfor %}
    {% endfor %}
  {% endfor %}

{% endblock %}
