{% extends "adaptive_drug_resistance/base.html" %}

{% block head_extra %}

    <link href="{{ STATIC_URL }}adaptive_drug_resistance/css/override.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}adaptive_drug_resistance/css/global.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}adaptive_drug_resistance/css/vips/style.css" rel="stylesheet">

{% endblock %}

{% block title %}VIP scores browser - {{ block.super }}{% endblock %}

{% block contentclass %}fullwidth{% endblock %}

{% block body %}

    </div> <!-- close #content -->
    <br style="clear:left">
  </div> <!-- close #pagebody -->

<div id="override">

<div class="override-content">

<div class="title-and-authors">

  <h1>
    Systematic analysis of BRAF<sup>V600E</sup> melanomas reveals a
    role for JNK/c-Jun pathway in adaptive resistance to drug-induced
    apoptosis
  </h1>

  <div class="breadcrumbs">
    <a href="..">Project explorer home</a>
    &nbsp;»&nbsp;
    <a href="">VIP scores</a>
  </div>

</div>

<h2>VIP scores browser</h2>

<p>
The following browser tool allows you to explore the variable importance in the
projection (VIP) score of each PLSR model variable relative to cell viability
across all time points studied. This data browser also allows you to visualize
the relative importance of each variable in the context of the molecular
pathways impinging upon drug-induced adaptive responses in these cell lines.
</p>

<p>
The graph on the left maps the VIP scores (as reported by
<a href="http://dx.doi.org/10.15252/msb.20145877">Fallahi-Sichani et al.</a>)
for any chosen combination of cell line and timepoint onto a schematic
diagram of processes (in italics) and factors involved in immediate-early
signaling.  (See Figures 2 and 4 of
<a href="http://dx.doi.org/10.15252/msb.20145877">Fallahi-Sichani et al.</a>).
</p>

<p>
The heatmap on the right gives a bird's-eye-view of the same data,
which can be used as a guide to which cell-line/timepoint combinations
to focus on.
</p>

<div class="global">

<button class="show info"><i>i</i></button>
<button class="hide info">&#9167;</button>

</div> <!-- <div class="global"> -->

<div class="instructions">
  <div>
    <h3>Interactions</h3>

    <ul>

      <li>The combination of cell line and timepoint may be changed by
        clicking either on the desired values in the menus to the left
        of the diagram; or on the appropriate row in the heatmap.</li>

      <li>By holding down the Shift Key while by hovering the cursor,
          either over the menus to the left, or over the rows of the
          heatmap, it is possible to quickly scan over many
          combinations of cell line and timepoint.

        <ul>

          <li>Doing this changes neither the selected entries in the
          menus nor the selected row in the heatmap (they remain
          indicated by a thin dark outline).  The display will revert
          to these selected values once the Shift Key is released.
          </li>
        </ul>
      </li>

      <p>The colorbar at the bottom left of the page shows the mapping from
      colors to VIP scores.  A striped background (on RPPA measurements in the
      graph or on heatmap cells) indicates a "not available" status.</p>

      <li>Also, hovering the cursor over any color-coded element, either on the
      diagram or on the heatmap, reveals either the underlying numeric value or
      the string "(na)" (for "not available").
      </li>

    </ul>
  </div>
</div> <!-- <div class="instructions"> -->

</div> <!-- <div class="override-content"> -->

</div> <!-- <div id="override"> -->


{% include "adaptive_drug_resistance/vips/content.html" %}


<div class="downloads-wrapper">
<div>

<h2>Relevant signatures</h2>
<table class="downloads">
<tbody>
<tr>
<td>Signature</td>
<td>Average variable importance in the projection (VIP) scores from the PLSR models analyzing the covariation of molecular signals with cell viability and apoptosis fraction in BRAF(V600E/D) melanoma cell lines (HMS Dataset #20231)</td>
<td><a href="/db/datasets/20231/">Details</a></td>
<td><a href="/db/datasets/20231/results?output_type=.xlsx">Download (.xlsx)</a></td>
</tr>
</tbody>
</table>
</div>
</div>

  <script>
require(['jquery'], function(jquery) {
jquery(document).ready(function ( $ ) {
    var _
    ,   $info = $( '.instructions > div' )
    ,   up = -$info.outerHeight()
    ,   down = 0
    ,   $show = $( '.global button.show.info' )
    ,   $hide = $( '.global button.hide.info' )
    ;

    function showhide ( margin_top, on, off ) {
        $info.animate( { 'margin-top': margin_top }, 50,
                       function () {
                           off.css( 'display', 'none' );
                           on.css( 'display', 'inline-block' );
                       } );
    }

    showhide( up, $show, $hide );

    $show.on( 'click', function () { showhide( down, $hide, $show ); } )
    $hide.on( 'click', function () { showhide( up, $show, $hide ); } )

});
});

  </script>

  <div class="empty-div"> <!-- match the </div> for #pagebody -->
    <div class="empty-div"> <!-- match the </div> for #content -->


{% endblock %}
