{% for sd in compounds %}
  <tr>
   <td class="compound">
      <a href="/db/sm/{{ sd.drug_id }}/">{{ sd.drug }}</a>
    </td>
    <td class="classification">
      {% if sd.status == "approved" %}
        A
      {% elif sd.status == "investigational" %}
        I
      {% else %}
        T
      {% endif %}
    </td>
    <td class="kinomescan">
      {% if sd.kinomescan %}
        <a href="/db/datasets/{{ sd.kinomescan }}/">&#x2714;</a>
      {% endif %}
    </td>
    <td class="signature">
      {% if sd.signature %}
        <img src="{{ STATIC_URL }}pathway/generated/signature-{{ signature.target_name|slugify }}-{{ sd.drug|slugify }}.png"
             width="250" height="20">
      {% endif %}
    </td>
  </tr>
{% endfor %}
