{% for sd in compounds %}
  <tr>
    {# FIXME until salt codes are included in ids <td><a href="/db/sm/{{ sd.drug_id }}/">{{ sd.drug }}</a></td> #}
    <td><a href="/db/sm/?search={{ sd.drug_id }}">{{ sd.drug }}</a></td>
    <td class="classification">
      {% if sd.status == "approved" %}
        A
      {% elif sd.status == "investigational" %}
        I
      {% else %}
        T
      {% endif %}
    </td>
    <td class="kinomescan">
      {% if sd.kinomescan %}
        <a href="/db/datasets/{{ sd.kinomescan }}/">yes</a>
      {% else %}
        no&nbsp; {# nbsp to tweak horizontal alignment #}
      {% endif %}
    </td>
    <td class="signature">
      {% if sd.signature %}
        <img src="{{ STATIC_URL }}pathway/img/signature-{{ signature.target_name|slugify }}-{{ sd.drug|slugify }}.png"
             width="250" height="20">
      {% else %}
        <span class="no-signature">not available</span>
      {% endif %}
    </td>
  </tr>
{% endfor %}
