{% extends "base.html" %}

{% block head %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}pathway/js/pathway.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}pathway/css/pathway.css"/>
{% endblock %}

{% block body %}

<div id="pathway-container">
  {% for signature in signatures %}
    {% include "pathway/signature.html" %}
  {% endfor %}

  {{ pathway_source|safe }}
</div>

<p>One component of the HMS LINCS initiative is the creation of a highly curated
library of kinase inhibitors. We are focusing on clinical compounds (FDA
approved or undergoing trials) and tool compounds which are highly selective for
important kinases.

<p>This network map of key signal transduction pathways includes the majority of
kinases we can selectively target with small molecules, as well as information
on the relevant inhibitors in the HMS LINCS library. This allows biologists to
find compounds which target a given kinase or affect a specific phenotypic
outcome, as well as to identify compounds with potentially similar or
synergistic effects by virtue of targeting different nodes in the same signal
transduction cascade.

<h2>Instructions</h2>

<p>Click on a kinase shaded in orange to view a box listing compounds in the HMS
LINCS library which inhibit the activity of that kinase. For each compound, the
box shows the following summary information: an indication of whether the
inhibitor is in clinical use, a link to a KinomeScan profile of the compound (if
available), a graphical visualization of the compound's ability to inhibit
growth of a panel of six breast cancer cell lines, and a link to the HMS LINCS
Database for detailed information.

<p>You may also use our full database search engine to
find <a href="/db/sm/">compounds</a> or <a href="/db/proteins/">protein
targets</a> by name or other attributes.

{% endblock %}
