{% extends "base.html" %}

{% block requirejs %}
    <script>
     require.config({
         paths: {
             pathway: 'pathway/js',
         },
     });
     require( [ 'pathway/pathway' ] );
    </script>
{% endblock %}

{% block head_extra %}
  <link rel="stylesheet" href="{{ STATIC_URL }}pathway/css/pathway.css"/>
{% endblock %}

{% block title %}Kinase inhibitor pathways - {{ block.super }}{% endblock %}

{% block contentclass %}fullwidth{% endblock %}

{% block body %}

<h1>Kinase inhibitor pathways</h1>

<div id="pathway-container">
  {% for signature in signatures %}
    {% include "pathway/signature.html" %}
  {% endfor %}

  {{ pathway_source|safe }}
</div>

<p>One component of the HMS LINCS initiative is the creation of a highly curated
library of kinase inhibitors. We are focusing on clinical compounds (FDA
approved or undergoing trials) and tool compounds which are highly selective for
important kinases.

<p>This network map of key signal transduction pathways includes the majority of
kinases we can selectively target with small molecules, as well as information
on the relevant inhibitors in the HMS LINCS library. This allows biologists to
find compounds which target a given kinase or affect a specific phenotypic
outcome, as well as to identify compounds with potentially similar or
synergistic effects by virtue of targeting different nodes in the same signal
transduction cascade.

<h2>Instructions</h2>

<p>Hover or tap on a kinase shaded in orange to view a box listing compounds in
the HMS LINCS library which inhibit the activity of that kinase. For each
compound, the box shows the following summary information: the inhibitor's
classification (Approved/Investigational/Tool - see below), a link to a
KinomeScan profile of the compound (if available), and a graphical visualization
of the compound's ability to inhibit growth of a panel of six breast cancer cell
lines (data from <a href="http://dx.doi.org/10.1073/pnas.1018854108">Heiser et.
al 2012</a>). Protein, compound and cell line names are all hyperlinked to
entries in the HMS LINCS Database which contain detailed information.

<p>Compound classifications:
<ul>
  <li><strong>Approved:</strong> FDA approved for use in human subjects</li>
  <li><strong>Investigational:</strong> Undergoing clinical trials</li>
  <li><strong>Tool:</strong> Only suitable for research in cell culture</li>
</ul>

<p>You may also use our full database search engine to
find <a href="/db/sm/">compounds</a> or <a href="/db/proteins/">protein
targets</a> by name or other attributes.

<h2>References</h2>

<ol>
  <li id="ref1">Heiser, L. M. et al. Subtype and pathway specific responses to
  anticancer compounds in breast cancer. PNAS 109, 2724-2729 (2012).
  doi:<a href="http://dx.doi.org/10.1073/pnas.1018854108">10.1073/pnas.1018854108</a>
</ol>

{% endblock %}
