{% extends "base.html" %}

{% block head %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}pathway/js/pathway.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}pathway/css/pathway.css"/>
{% endblock %}

{% block body %}
<div id="pathway-container">
  {% for signature in signatures %}
    {% include "pathway/signature.html" %}
  {% endfor %}

  {{ pathway_source|safe }}
</div>

<p>As part of our LINCS initiative we are creating a highly curated library of
kinase inhibitors, focusing both on clinical compounds that are either NIH
approved or are undergoing trials and on highly selective tool compounds against
key nodes in the signal transduction pathways.

<p>To facility access to our library of inhibitors, we created a simplified
network map of key signal transduction pathways that includes the majority of
kinases we can target with small molecules. When searching the complete library,
the user will have to search for either individual compounds (link to search
function) or for specific kinases (link to search function) to find information
on inhibitors and chose them for application. The signaling network map gives a
fast overview of the majority of targetable kinases in the context of their
signal transduction pathways. This allows users to rapidly find compounds of
interest. It also allows users to identify compounds that may have similar
effects if they target different proteins in the same signal transduction
cascade and it will give immediate clues about the potential immediate
biochemical effects of treatment with a given inhibitor.

<p>Clicking on proteins shaded in red give information on all inhibitors with
that protein as nominal target. Included is compressed information on the growth
inhibition to a small sample of breast cancer cell lines and whether or not the
protein is targeted for clinical applications. Clicking through to individual
inhibitors links the user back to all information for a given inhibitor
contained in our database.

{% endblock %}
