<div class="signature-popup" id="signature-{{ signature.target_name }}">

<table class="plain">

  <tr>
    <td colspan="4">
      <h3><a href="#">{{ signature.target_name }}</a> inhibitors:</h3>
    </td>
  </tr>

  <tr>
    <th>Name</th>
    <th>C*</th>
    <th>KS*</th>
    <th class="signature">Signature (log<sub>10</sub> GI50)</th>
  </tr>

  {% with compounds=signature.primary_compounds %}
    {% include "pathway/compound_table.html" %}
  {% endwith %}
  
  {% with compounds=signature.nonprimary_compounds %}
    {% include "pathway/compound_table.html" %}
  {% endwith %}

  <tr>
    <td colspan="3"></td>
    <td class="signature">
      <img src="{{ STATIC_URL }}pathway/img/scale-{{ signature.target_name|slugify }}.png" width="250" height="20">
    </td>
  </tr>

  <tr>
    <td colspan="3"></td>
    <td class="legend">
      <table>
        {% for row in cell_lines %}
          <tr>
            {% for index, cell_line in row %}
              <td>
                <img src="{{ STATIC_URL }}pathway/img/legend-cell-line-{{ index }}.png" width="14" height="14">
                <a href="#">{{ cell_line }}</a>
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </td>
  </tr>

</table>

<p class="note">* C = classification (Clinical/Investigative/Research); KS =
KinomeScan profile

{# <div class="closebutton">close [x]</div> #}

</div>
