<div class="signature-popup" id="signature-{{ signature.target_name }}">

<table class="plain">

  <tr>
    <td colspan="4">
      <h3>Inhibitors of
      {% spaceless %}
      {% if signature.protein_id_single %}
        <a href="/db/proteins/{{ signature.protein_id_single }}/">{{ signature.target_display }}</a>:
      {% else %}
        {{ signature.target_display }}
        <span>(</span>
        {% for id, name in signature.protein_id_list %}
          <a href="/db/proteins/{{ id }}/">{{ name }}</a>
          {% if not forloop.last %}<span>, </span>{% endif %}
        {% endfor %}
        <span>):</span>
      {% endif %}
      {% endspaceless %}
      </h3>
    </td>
  </tr>

  <tr>
    <th class="compound">Name</th>
     {# nbsps to tweak horizontal alignment #}
    <th class="classification">&nbsp;C*</th>
    <th class="kinomescan">&nbsp;KS*</th>
    <th class="signature">Signature [GI50, log<sub>10</sub>(M)]</th>
  </tr>

  {% with compounds=signature.compounds %}
    {% include "pathway/compound_table.html" %}
  {% endwith %}

  <tr>
    <td colspan="3"></td>
    <td class="signature">
      {% if signature.show_scale %}
        <img src="{{ STATIC_URL }}pathway/img/scale-{{ signature.target_name|slugify }}.png" width="250" height="20">
      {% endif %}
    </td>
  </tr>

  <tr>
    <td colspan="3"></td>
    <td class="cell-line-legend">
      {% if signature.show_scale %}
        <table class="plain">
          <tr><td colspan="3" class="caption">Cell lines:</td></tr>
          {% for row in cell_lines %}
            <tr>
              {% for index, cell_line in row %}
                <td>
                  <img src="{{ STATIC_URL }}pathway/img/legend-cell-line-{{ index }}.png" width="14" height="14">
                  <a href="/db/cells/{{ cell_line.cell_id }}/">{{ cell_line.name }}</a>
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </table>
      {% endif %}
    </td>
  </tr>

</table>

<p class="note">* C = classification (Approved/Investigational/Tool);<br>KS =
KinomeScan profile available (links to dataset)

{# <div class="closebutton">close [x]</div> #}

</div>
