{% extends "base_flatpage.html" %}

{% block requirejs %}
    <script>
     require.config({
         paths: {
             bcs: 'breast_cancer_signaling/js',
         },
     });
     require( [ 'bcs/main' ] );
    </script>
{% endblock %}

{% block head_extra %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}ext/jquery-ui/1.11.4/jquery-ui.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}breast_cancer_signaling/css/main.css" />
{% endblock %}        

{% block contentclass %}fullwidth{% endblock %}

{% block article_type %}Project Explorer{% endblock %}
