{% extends "breast_cancer_signaling/base.html" %}

{% block content %}

<h1>Breast Cancer Signaling Responses</h1>

<p>The data we collected here is complicated to display, not necessarily due to
its size, but rather due to its high dimensionality. We prepared ‘signaling
profiles’ where we tested 15 ligands x 2 doses x 3 exposure times x 2 downstream kinase x
39 cell lines resulting in ~7000 unique data points. In addition we collected
‘basal profiles’ where we measured about 40 different expression or
phosphorylation levels of key receptor tyrosine kinases of each cell line. To
investigate these data, we plot different (often simplified) features of the
data and show how it differs across another dimension. There are two main
organizing principles of the data: <a href="#data-by-cell-line">data by cell
line</a> and <a href="#data-by-ligand">data by ligand</a>.</p>

<p>For a more detailed description of how the data is analyzed and plotted, please
refer to the methods and results section of the publication [LINK].</p>

<!-- <p>Link to the raw data (xls for now; maybe a query page afterwards). -->
<!-- [[TODO]]</p> -->

<div class="thumbnail-box">
  <p>
    <a href="{{ BASE_URL }}matrix/"
       title="Click for a summary of response data and feature classifications">
      <img src="{{ STATIC_URL }}breast_cancer_signaling/img/table_akt_10.gif"/>
      <img src="{{ STATIC_URL }}breast_cancer_signaling/img/table_erk_10.gif"/>
    </a></p>
  <p class="thumbnail-caption">Click for a summary of response data and feature classifications</p>
</div>
<div style="clear: right;"></div>

{% include "breast_cancer_signaling/sibling_browser.html" with class="cell line" all_names=cell_line_names %}

<h2 id="data-by-cell-line">Data by Cell Line</h2>

<p>A compact overview of both the basal and signaling profiles of each cell are
simple network maps displayed as node-edge graphs. This visualization allows the user to
quickly identify which pathways are highly expressed, strongly phosphorylated, or
particularly sensitive in a given cell lines. The outer and inner circles
represent basal measurements with circle size indicating expression levels and
the shading indicating phosphorylation levels. The data is normalized across all
cell lines and gray outer circles denote phosphorylation levels below the
threshold of detection. The lines between the outer and middle circles denote
simplified ligand/receptor binding. The colored arrows between the outer and
middle circles denote the strength of pERK (blue) or pAkt (red) induction by
ligand. The maximal response by ligand was normalized across all responses and
gray lines denote responses that are not significant.</p>

{% include "breast_cancer_signaling/titled_figures.html" with a=fig_args.cell_line_nodeedge %}

<p>To put the individual network maps into context we created three maps that
represent each clinical subtype (TNBC, HER2amp, HR+). To create these maps we
used the trimmed mean of all values of a given subtype, rather than the mean,
to reduce artifacts that might occur due to ligand/receptor combinations that
only result in sporadic responses.</p>

{% include "breast_cancer_signaling/titled_figures.html" with a=fig_args.subtype_nodeedge %}

<p>We can also plot the distribution of individual signaling features by
subtype. Here we show the fraction of responses to low doses of ligands by pERK
and pAkt. For example, TNBCs are particularly sensitive and respond even to low
doses of ligand when measuring pERK. No such difference is apparent when looking at pAkt.
Other features that can be similarly compared are the mean fold-changes at treatment
with high doses of ligand or the pERK/pAkt induction bias. We then show the data
of individual cell types by a diamond overlayed on the overall distribution of the
subtypes. </p>

{% include "breast_cancer_signaling/titled_figures.html" with a=fig_args.cell_line_subtype %}

<p>Also the basal expression and phosphorylation levels of RTKs have a wide
distribution across all cell lines. For each cell line we can highlight the
most upregulated and downregulated basal measurements. We indicated the level
of a given cell line by a diamond overlayed on the distribution of the same measurement
across all lines. The distributions by subtype are indicated as colored bars.</p>

{% include "breast_cancer_signaling/titled_figures.html" with a=fig_args.cell_line_topmeasures %}

<p>The magnitude of response to individual ligands varies significantly from one
cell line to the next. We can illustrate this range of responses as boxplot for each
ligand for pERK and pAkt fold-changes. Again, we can indicate the measurement of any
given cell line as a diamond, to put a single cell line into its appropriate context.</p>

{% include "breast_cancer_signaling/titled_figures.html" with a=fig_args.cell_line_foldchange %}

{% include "breast_cancer_signaling/sibling_browser.html" with class="ligand" all_names=ligand_names %}

<h2 id="data-by-ligand">Data by Ligand</h2>

<p>We can display the full time courses for individual ligand/downstream kinase combination
across all cell lines to see both the variance in the kinetics and the magnitude
of the responses. For a given ligand there are two plots corresponding to a low and
high dose treatment and the two different downstream targets. We chose six cell lines
that are highlighted in every plot that can be used a reference they that cover much
of the variablity observed in the whole data set.</p>

{% include "breast_cancer_signaling/titled_figures.html" with a=fig_args.ligand_timecourse %}

<p>We can then classify these time course into four kinetic response classes
(sustained, transient, late, none) and plot their distribution by target and 
ligand-family. This shows that certain ligands predominantly give responses of certain
classes, like the ErbB/FGF responses being mainly sustained or the INS/IGF responses
being often late. We can then compare the response to individual ligands to the
main ligand-families.</p>

{% include "breast_cancer_signaling/titled_figures.html" with a=fig_args.ligand_responsekinetics %}

<p>Even though we collected responses only at two doses, we can
use this data to approximate the sensitivity of any cell line to a particular
ligand. Analogous to the time courses above, we can plot the response of all cell
lines to a specific ligand measured by a specific downstream kinase across the two doses.
</p>

{% include "breast_cancer_signaling/titled_figures.html" with a=fig_args.ligand_doseresponse %}

<p>We find that there is a significant range in the magnitude of responses both at
low and high dose. This means we can classify these sensitivities based on
whether cells respond equally at high and low dose, higher at high than at low
dose, only at high dose, or not at all. Once classified this way we can plot the overall
distribution of these sensitivity classes for all cell lines given a ligand/downstream
kinase combination. This shows that certain ligands measured by certain targets
predominantly fall into certain classes, like the ErbB and FGF responses being higher
at high dose than at low dose meaning they are rarely saturated at low dose.</p>

{% include "breast_cancer_signaling/titled_figures.html" with a=fig_args.ligand_sensitivity %}

<p>When we compare the pERK and pAkt response for the same ligand in a single cell line
(see above) it is apparent that individual ligands induce a pathway bias. We can plot
this bias as the response angle distribution or boxplots to compare individual ligands
to the remaining ligands. When browsing individual ligands we highlight it in black so
it stands out in contrast to the other ligands.</p>

{% include "breast_cancer_signaling/titled_figures.html" with a=fig_args.ligand_pathwaybias %}

{% endblock %}
