{% extends "breast_cancer_signaling/base.html" %}

{% block title %}
  Signaling Response Matrix - {{ block.super }}
{% endblock %}

{% block content %}

<div class="breadcrumbs">
  {% include "breast_cancer_signaling/breadcrumbs.html" %}
</div>

<h1>Signaling Response Matrix</h1>

<img id="legend-smallbox-lookuptables"
     src="{{ STATIC_URL }}breast_cancer_signaling/img/legend_smallbox_lookuptables.png"/>

<p>The two matrices summarize the signaling responses for all cell lines and
ligands. Each small subplot shows the results by ligand and cell line: the upper
bar is colored according to the response sensitivity class, the black bars show
the maximal fold change response for 1ng/ml and 100ng/ml, and the color of the
lower bar corresponds to the kinetic cluster for 1ng/ml and 100ng/ml responses
(see legend at right). Cell lines are grouped by subtype and ligands are grouped
by family.</p>

<p>The names of cell lines and ligands link to their respective summary
pages. Clicking on each individual subplot opens a window showing the underlying
signaling data in context of all other cell lines or all other ligands. Multiple
different windows can be opened at the same time to compare different
selections.</p>

{% for cell in cells %}
  <div class="lookup-table-popup cell-{{ cell.name }}"
       title="{{ cell.cell_line }} responses to {{ cell.ligand }}">
    <a href="img/{{ cell.name }}.jpg" class="media-ondemand">{{ cell.name }}</a>
    <img width="{{ plot_dimensions.0 }}" height="{{ plot_dimensions.1 }}" />
  </div>
{% endfor %}

{% for table in tables %}
  {% include "breast_cancer_signaling/lookup_table_table.html" %}
{% endfor %}

{% endblock %}
