{% extends "10_1038_nchembio_1337__fallahi_sichani_2013/base_iframe.html" %}

{% block head_extra %}
  {{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}10_1038_nchembio_1337__fallahi_sichani_2013/css/dose_response_grid.css"/>
{% endblock %}

{% block title %}An interactive global view of drug response - {{ block.super }}{% endblock %}

{% block contentclass %}fullwidth{% endblock %}

{% block body %}

{% include "10_1038_nchembio_1337__fallahi_sichani_2013/dose_response_grid_content.html" %}

{% endblock %}
