{% extends "10_1038_nchembio_1337__fallahi_sichani_2013/base.html" %}

{% block head_extra %}
  {{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}ext/jquery-ui/1.11.4/jquery-ui.min.css"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}10_1038_nchembio_1337__fallahi_sichani_2013/css/sensitivities.css"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}10_1038_nchembio_1337__fallahi_sichani_2013/css/intro_to_dose_response_curves.css"/>
{% endblock %}

{% block title %}Parameterizing perturbagen dose-response relationships - {{ block.super }}{% endblock %}

{% block contentclass %}fullwidth{% endblock %}

{% block body %}

{% include "10_1038_nchembio_1337__fallahi_sichani_2013/intro_to_dose_response_curves_content.html" %}

{% endblock %}
