{% extends "10_1038_nchembio_1337__fallahi_sichani_2013/base_iframe.html" %}

{% block head_extra %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}10_1038_nchembio_1337__fallahi_sichani_2013/css/intro_to_dose_response_curves.css"/>
{% endblock %}

{% block title %}Parameterizing perturbagen dose-response relationships - {{ block.super }}{% endblock %}

{% block contentclass %}fullwidth{% endblock %}

{% block body %}

{% include "10_1038_nchembio_1337__fallahi_sichani_2013/intro_to_dose_response_curves_content.html" %}

{% endblock %}
