{% extends "10_1038_nchembio_1337__fallahi_sichani_2013/base_iframe.html" %}

{% block head_extra %}
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
  <script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

  <script src="http://d3js.org/d3.v3.min.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}10_1038_nchembio_1337__fallahi_sichani_2013/css/sensitivities.css"/>
{% endblock %}

{% block title %}Parameterizing perturbagen dose-response relationships - {{ block.super }}{% endblock %}

{% block contentclass %}fullwidth{% endblock %}

{% block body %}

{% include "10_1038_nchembio_1337__fallahi_sichani_2013/intro_to_dose_response_curves_content.html" %}

{% endblock %}
