{% extends "10_1038_nchembio_1337__fallahi_sichani_2013/base.html" %}

{% block head_extra %}
  {{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}10_1038_nchembio_1337__fallahi_sichani_2013/css/sensitivities.css"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}10_1038_nchembio_1337__fallahi_sichani_2013/css/scatterplot_browser.css"/>

<style>
#pagebody{padding-bottom:0;}
#sidebar{margin:0;}
.empty-div{display:none;}

</style>

{% endblock %}

{% block title %}Scatterplot browser - {{ block.super }}{% endblock %}

{% block contentclass %}fullwidth{% endblock %}

{% block body %}
      <!-- <h1>Scatterplot browser</h1> -->
    </div> <!-- close <div id="content"> -->
    <br class="clear-left"/>
  <!-- </div> <\!-- close <div id="pagebody"> -\-> -->
<!-- </div> --> <!-- close <div id="pagebody-wrap"> -->

{% include "10_1038_nchembio_1337__fallahi_sichani_2013/scatterplot_browser_content.html" %}

<!-- <div class="empty-div"> --> <!-- match the </div> for <div id="pagebody-wrap"> -->
  <!-- <div class="empty-div"> <\!-- match the </div> for <div id="pagebody"> -\-> -->
    <div class="empty-div"> <!-- match the </div> for <div id="content"> -->

{% endblock %}
