{% extends "base.html" %}

{% block head_extra %}
  <link rel="stylesheet" href="{{ STATIC_URL }}10_1038_nchembio_1337__fallahi_sichani_2013/css/scatterplot_browser.css"/>

<style>
/* div{outline:1px solid red;} */

/* assorted hacks to disable site-wide settings */
/* #content{outline:5px solid black;} */
/* #pagebody{outline:5px solid green;} */
/* #pagebody-wrap{outline:5px solid red;} */

#content{min-height:0;}
#content{margin-top:15px;}
#content > h1{margin-bottom:10px;}
/*
#pagebody{border-bottom:#ffefe2 1px solid;}
#pagebody{margin-bottom:10px;}
#pagebody{padding-top:65px;padding-bottom:0;}
#pagebody-wrap{background-color:white;}
*/

.empty-div{display:none;}

</style>

{% endblock %}

{% block title %}Scatterplot browser - {{ block.super }}{% endblock %}

{% block contentclass %}fullwidth{% endblock %}

{% block body %}

      <h1>Scatterplot browser</h1>
    </div> <!-- close <div id="content"> -->
    <br style="clear:left">
  <!-- </div> <\!-- close <div id="pagebody"> -\-> -->
<!-- </div> --> <!-- close <div id="pagebody-wrap"> -->


    <div id="main" class="loading">

      <div id="usage-wrapper">
        <div class="closed usage">
          <div class="close tab"></div>
          <div title="help" class="open tab"></div>
          
          <div class="content">
            <p>This browser widget serves to explore the dose-response data reported in <a href="http://dx.doi.org/10.1038/nchembio.1337">Fallahi-Sichani, et al. (2013)</a>, by overlaying multiple "cell line vs. cell line" or "drug vs. drug" scatterplots like those shown in Figure 4(a) and Figure 4(c, d, e), respectively.</p>

            <p>Once a metric is chosen, the scatterplots to be displayed are specified by selecting <i>pairs</i> of either cell lines or drugs; each such pair is selected by clicking on its members' names in the Selection Panel (lower-left corner).</p>

            <p>USAGE AND NOTES:</p>

            <ul>
              <li>first, if necessary, specify the desired plot type and/or metric, with the buttons on the top row;
              <li>next, choose the entity corresponding to the <i>y</i>-axis by clicking on its name in the Selection Panel (in the widget's lower-left corner); this choice serves as the "anchor" for all subsequent selections, but it can be changed easily, as described below);
              <li>finally, select one or more entities for the <i>x</i>-axis, by clicking on their names; selecting an entity for the <i>x</i>-axis in this way simultaneously selects a new pair, which gets added to a running list of selected pairs, shown below the plot area; this list of selected pairs persists until the <span class="button-reference">clear</span> button is pressed, or the current plot type is changed; the first member of each pair is always the one corresponding to the <i>y</i>-axis;
              <li>to select a different "anchor" for the <i>y</i>-axis, click on the previously selected one to deselect it (any previously selected pairs will remain unaffected by this), and then proceed as before; (it is possible to choose the <i>y</i>-axis identifier also for the <i>x</i>-axis, by holding down the shift key while clicking on the <i>y</i>-axis identifier the second time);
              <li>the thin marks along either axis correspond to points for which only the coordinate for that axis is available; a cross-shaped mark represents points for which neither coordinate is available (such a cross-shaped mark, when present, always appears on the diagonal, near the lower left corner of the plot);
              <li>changing the metric does not affect the current selection of pairs.
            </ul>

          </div> <!-- .content -->
        </div> <!-- .usage -->
      </div> <!-- #usage-wrapper -->


      <table>
        <tr class="buttons">
          <td>
            <div class="cell-content radio-button-group">
              <div class="group-label">plot type:</div>
              <div>
                <label> <input type="radio" name="factor" value="cell line"> cell line vs. cell line </label>
                <label> <input type="radio" name="factor" value="drug">      drug vs. drug           </label>
              </div>
            </div>
          </td>
          <td>
            <div class="cell-content radio-button-group">
              <div class="group-label">metric:</div>
              <div>
                <label> <input type="radio" name="metric" value="log10[IC50 (M)]"> IC<sub>50</sub> (log10)      </label>
                <label> <input type="radio" name="metric" value="E_max">           E<sub>max</sub>/E<sub>0</sub></label>
                <label> <input type="radio" name="metric" value="HillSlope">       Hill slope                   </label>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td rowspan="2">
            <div id="track-container">
              <!-- <button id="toggle">Toggle view</button> -->
              <div id="track" class="list-container">
                <ul>
                  <div class="title"></div>
                </ul>

                <br>

                <!-- <div class="button-bar"> -->
                <!--   <button id="reset" style="margin:5px;" disabled="">reset</button> -->
                <!-- </div> -->

              </div> <!-- #track -->
            </div> <!-- #track-container -->


          </td>
          <td class="stage"></td>
        </tr>

        <tr>
          <td>
          <div id="clear"><button disabled>clear</button></div>
          <ul id="legend"></ul>
          </td>
        </tr>

      </table>

    </div> <!-- #main -->

    <script>
(function (hmslincs) {
  hmslincs.STATIC_URL = "{{ STATIC_URL }}";
})(window.hmslincs = window.hmslincs || {});
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.10/d3.min.js"></script>
    <script src="{{ STATIC_URL }}10_1038_nchembio_1337__fallahi_sichani_2013/js/scatterplot_browser.js"></script>

<!-- <div class="empty-div"> --> <!-- match the </div> for <div id="pagebody-wrap"> -->
  <!-- <div class="empty-div"> <\!-- match the </div> for <div id="pagebody"> -\-> -->
    <div class="empty-div"> <!-- match the </div> for <div id="content"> -->

{% endblock %}
