h2 {
  margin-bottom: 2em;
}

th, td {
  padding: 1em;
}

table {
  margin: 2em;
}

td p {
  margin: 0;
}

#popup { 
  cursor: default;

  position: absolute;
  z-index: 9999;

  padding: 0.4ex;

  background-color: #eeeeee;
  border: 0px;

  /* -webkit-box-shadow: 1px 1px 1px #000; */
  /* box-shadow: 1px 1px 1px #000; */

  -webkit-border-radius: 2px;
  border-radius: 2px;

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

#popup table {
  margin: 0;
}

#popup td {
  border: 0;
  margin: 0;
  padding: 0px 5px;
  font-size: 7pt;
  line-height: 9pt;
}

#content td.featured {
  padding-bottom: 40px;
}

#content td.righthand {
  padding-right: 40px;
}

#content td.featured p {
  margin-bottom: 20px;
}

#content td.matrix {
  padding: 0 40px 40px 60px;
}

#content td.matrix img {
  margin-left: -60px;
}

#content td.matrix p {
  font-size: 8pt;
}

#slider {
  width: 100px;
  left: 130px;
  margin-top: -16px;
}

#slider.ui-widget-content {
  background: #F7AB53;

}

#slider-wrap {
  margin-left: 60px;
  margin-top: 12px;
}

#timepoint {
  border: 0;
  color: #f6931f;
  font-weight: bold;
  width: 65px;
}