@import "wp-reset.css";


/* -----------------------------------------------------------*/
/* --- Typography
/* -----------------------------------------------------------*/
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#121212;
	line-height:1.6em;
}
h1, h2 { font-weight: normal; }
h1 {
	font-size:36px;
	color:#e6941e;
	line-height:1.1em;
}
h2 { 
	font-size:18px;
	line-height:1.1em;
}
h3 { 
	font-weight:bold;
}

a {
	color:#009ceb;
}
a:hover {
	text-decoration: underline;
} 
blockquote { }
blockquote p { }
pre { }
code, tt { }

.post { }

.entry { }
.entry a { }
.entry a:hover { }

.postmetadata { }

.searchResults {
	font-size:16px;
	font-weight:bold;
	color:#777;
	margin-bottom:1em;
}

/* -----------------------------------------------------------*/
/* --- Layout
/* -----------------------------------------------------------*/
p { margin-bottom:10px; }
h1 { margin-bottom:.7em; }
h2 { margin-bottom:.3em; }
h3 { margin-bottom:.3em; }

ul, ol, table { margin: 0 0 10px 0; }

form { }
input[type=text] { }
textarea { }

.clear-both {
	clear:both;
}


/* --- Header ---- */

#header { 
	width:941px;
	height:76px;
	margin: 0 auto; 
	position:relative;
	z-index: 100;
}
#header h1 {
	margin-bottom:0;	
}
#header h1 {
	display:block;
	position:absolute;
	text-indent:-9999px;
	width:158px;
	height:63px;
	left:25px;
	top:5px;
	background:url(../img/wp-logo_lincs.gif) left top no-repeat;
}
#header .tagline {
	display:block;
	position:absolute;
	width:188px;
	left:200px;
	top:29px;
	color:#171717;
	font-family:"Times New Roman", Times, serif;
	font-size:12px;
	line-height:1.2em;
}

/* ---- Search Form ----*/

#header #searchform {
	position:absolute;
	top:8px;
	right:28px;
	width:158px;
	height:22px;
}
#header #searchform #s {
	width:134px;
	height:18px;
	border:#cccccc solid 1px;
	padding:3px 4px 1px 4px;
	position:absolute;
	right:24px;
	color:#999;
	font-size:12px;
}
#header #searchform #s.focused {
	color:#000;
}
#header #searchsubmit {
	display:block;
	width:24px;
	height:24px;
	position:absolute;
	top:0;
	right:0;
}
* html #header #searchsubmit  {
	/* IE6 hack */
	right:0;
}


/* --- Menu ---- */

.menu-topnav-container {
    width: 939px;
    margin: 0 auto;
}

.menu-topnav-container a {
    color: #808080;
    text-decoration: none;
}

.menu-topnav-container a:hover {
    color: #009ceb;
    text-decoration: underline;
}

.menu-topnav-container > ul {
    padding: 15px 0 0 25px;
    overflow: hidden;
}

.menu-topnav-container > ul > li {
    float: left;
    margin: 0 25px 0 0;
    max-width: 150px;
}

.menu-topnav-container > ul > li > a {
    text-transform: uppercase;
    font-weight: bold;
    color: #ff8216;
}

.menu-topnav-container ul {
    margin: 0;
}

ul.children ul.children {
    margin-left: 12px;
}

ul.children li {
    line-height: 1em;
    margin: 0.6em 0;
}


.menu-mini-container {
    position: absolute;
    right: 0px;
    top: 35px;
}

.menu-mini-container li {
    display: inline;
    padding: 10px 24px;
}

.menu-mini-container li:last-child {
    border-left: 1px solid #d0d0d0;
}

.menu-mini-container a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #aaa;
    font-size: 14px;
}

.menu-mini-container a:hover {
    color: #009ceb;
    text-decoration: underline;
}

.menu-mini-container .button a {
    width: 106px;
    height: 28px;
    position: absolute;
    top: -7px;
    padding-top: 7px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 3px #000000 ;
}

#explore-link a {
    background: url(../img/wp-explore_button_base.png);
    left: -184px;
}

#explore-link a:hover {
    background: url(../img/wp-explore_button_hover.png);
}

#data-link a {
    background: url(../img/wp-data_button_base.png);
    left: -30px;
}

#data-link a:hover {
    background: url(../img/wp-data_button_hover.png);
}


/* --- Cimy header image rotator ---- */

#cimy_div_id {
	float: left;
	margin: 0;
	border: 0;
	width: 939px;
	height: 284px;
	display:none;
}
div.cimy_div_id_caption {
	position: absolute;
	margin-top: 175px;
	margin-left: -75px;
	width: 150px;
	text-align: center;
	left: 50%;
	padding: 5px 10px;
	background: black;
	color: white;
	border-radius: 10px;
	display: none;
	z-index: 2;
}



/* --- Page body ---- */

#pagebody-wrap {
	background:#d0d0d0 url(../img/wp-bkg_body_secondary.gif) left top repeat-x;
}
.home #pagebody-wrap {
        background:#d0d0d0 url(../img/wp-bkg_body_home.gif) left top repeat-x;
}
#pagebody {
	width:939px;
	margin: 0 auto;
	padding:65px 0 10px 0;
	background:#fff url(../img/wp-header_img.jpg) left top no-repeat;
	border-left:#ffefe2 1px solid;
	border-right:#ffefe2 1px solid;
	border-top:#e6914e 2px solid;
}
	#pagebody.header1 {
		background:#fff url(../img/wp-header_img1.jpg) left top no-repeat;
	}
	#pagebody.header2 {
		background:#fff url(../img/wp-header_img2.jpg) left top no-repeat;
	}
	.home #pagebody {
		background-image:none;
		padding-top:0;
	}

	
#content {
	float:left;
	position:relative;
	width:665px;
	left:250px;
	margin-top:25px;
	min-height: 400px;
}

#content.fullwidth {
	left: 23px;
	width: 893px;
}

.home #content {
	width:600px;
	left:25px;
	margin-top:15px;
}

#content ul {
	list-style: disc outside url(../img/wp-icon_arrow.gif);
}

#content ol {
	list-style-type: decimal;
}

#content li {
	list-style: inherit;  /* override explicit 'none' from reset.css so ul and ol above can take effect */
}

#content ul, #content ol {
	margin: 0 1.5em 10px;
}

#content th {
	font-weight: bold;
	border-bottom: 1px solid #808080;
}

#content th, #content td {
	padding: 0 0.5em;
	vertical-align: top;
	border-right: 1px solid #e0e0e0;
}

#content table {
	border: 1px solid #e0e0e0;
}

#content tr:nth-child(even) {
	background-color: #FFF9F0;
}

#content table.plain {
    border: 0;
}

#content table.plain tr {
    background-color: inherit;
}

#content table.plain th, #content table.plain td {
    border-right: 0;
}

#breadcrumb {
	color:#bbb;
	margin-bottom:.5em;
}
#breadcrumb a {
	color:#999;
}

.wp-caption {
	padding:5px 0;
	background-color:#efeded;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom:1em;
}
.wp-caption img {
	margin:0 5px;
}
.wp-caption-text, .wp-caption-dd {
	line-height:1.3em;
	margin:.1em 10px .2em 10px;
}

#meta { }

.postmetadata {
	margin-bottom:2em;
}

#sidebar { 
	float:left;
	position:relative;
	width:200px;
	left:-640px;
	margin-top:30px;
}
	.home #sidebar {
		left:40px;
		width:290px;
		margin-top:10px;
		background-color:#d0d0d0;
	}
	.home #sidebar h2 {
		color:#009ceb;
		font-weight:bold;
		font-size:12px;
		background-color:#000;
		padding:5px 12px;
	}
	.home #sidebar p {
		line-height:1.1em;
		margin:.7em 12px .9em 12px;
		font-size:12px;
	}

#page-nav li {
	margin-bottom:.6em;
	line-height:1.2em;
}
#page-nav a {
	font-size:12px;
	text-decoration:none;
	color:#e6941e;
}
#page-nav a:hover {
        text-decoration: underline;
}
#page-nav .current_page_item a, #page-nav .selected a {
	font-weight:bold;
}
#page-nav .current_page_item .children a {
	font-weight:normal;
}
#page-nav ul ul, #page-nav ul ul ul {
	margin-top:.5em;
}
#page-nav ul ul {
	margin-left:10px;
}
#page-nav ul ul ul {
	margin-left:20px;
}



.navigation { }
   .next-posts { }
   .prev-posts { }

#searchform { }
	#s { }
	#searchsubmt { }
	


/* --- Footer ---- */

#footer-wrap {
    position: relative;
    border-top: 18px solid #e6941e;
}

#footer-decoration {
    position: absolute;
    height: 18px;
    width: 939px;
    top: -18px;
    left: -1px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

#footer {
    width:939px;
    margin: 0 auto;
    position: relative;
    color: #808080;
}

#footer-misc a {
    color: #808080;
}

#footer-misc a:hover {
    color: #009ceb;
}

#logo-hms a {
	position:absolute;
	top:15px;
	right:104px;
	width:91px;
	height:45px;
	background:url(../img/wp-logo_hms.gif) left top no-repeat;
}

#logo-nihlincs a {
	position:absolute;
	top:75px;
	right:36px;
	width:177px;
	height:60px;
	background:url(../img/wp-logo_nihlincs.jpg) left top no-repeat;
}

#logo-hms span, #logo-nihlincs span {
	display: none;
}

#footer-misc {
    position: absolute;
    right: 25px;
}

/* --- Table of contents --- */

/* need #content to be more specific than ""#content ol" above */
#content .toc ol ol {
	margin-bottom: 0; /* keep nested lists tight against any following list */
}


/* --- WordPress classes --- */

/* Alignment */
.alignleft {
        display: inline;
        float: left;
        margin-right: 1.625em;
}
.alignright {
        display: inline;
        float: right;
        margin-left: 1.625em;
}
.aligncenter {
        clear: both;
        display: block;
        margin-left: auto;
        margin-right: auto;
}

/* Images */
.entry-content img,
.comment-content img,
.widget img {
        max-width: 97.5%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"] {
        height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full {
        max-width: 97.5%;
        width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
}


#post-929 .entry, #gallery {
    color: #AAA;
    overflow: hidden;
}

#post-929 h2 a, #gallery a {
    text-decoration: none;
}

#post-929 h2 a:hover, #gallery a:hover {
    text-decoration: underline;
}

#post-929 .entry img, #gallery img {
    border: 1px solid white;
    float: left;
}

#post-929 .entry img:hover, #gallery img:hover {
    border-color: #009CEB;
}

#post-929 .entry p, #gallery p {
    margin-bottom: 0;
}



.page-id-929 #sidebar {
    display: none;
}

.page-id-929 #content {
    float: none;
    position: static;
    width: auto;
    margin: 0;
    padding: 10px 20px;
    background: black;
}

.page-id-929 #pagebody {
    padding-bottom: 0;
}

#post-929 .entry div {
    clear: both;
}

#post-929 .entry img {
    margin: 0 20px 40px;
}



#gallery {
    background: black;
    overflow: hidden;
    border-bottom: 1px solid #D0D0D0;
    padding: 15px 0 0 24px;
    line-height: 1.2em;
    height: 400px;
}

#gallery > div {
    float: left;
    width: 437px;
    margin: 20px 20px 20px 0;
}

#gallery h1 {
    margin-bottom: 0;
}

#gallery h2, #gallery-more {
    font-size: 14px;
    font-weight: bold;
}

#gallery img {
    margin-right: 15px;
}

div#gallery-more {
    margin-top: 5px;
}
