{% extends "wordpress_base.html" %}

{% block base_head_extra %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/hmslincs.css" />

    <script language="javascript" type="text/javascript">
     var require = {
         baseUrl: '{{ STATIC_URL }}',
         paths: {
             d3: 'ext/d3/3.3.10/d3.min',
             underscore: 'ext/lodash/3.5.0/lodash.min',
             jqueryui: 'ext/jquery-ui/1.11.4/jquery-ui.min',
             mediaelement: 'ext/mediaelement/2.13.1/js/mediaelement-and-player.min',
             lib: 'js',
         },
         shim: {
             d3: { exports: 'd3' },
             mediaelement: {
                 deps: [ 'jquery' ],
                 exports: 'window.mejs',
             },
         },
     };
    </script>
    <script src="{{ STATIC_URL }}ext/require/2.1.20/require.min.js"></script>
    {# Monkey-patch jquery in so require.js will know about it. #}
    <script language="javascript" type="text/javascript">
     if (typeof jQuery === 'function') {
         define('jquery', function () { return jQuery; });
     }
    </script>

    {% block head_extra %}{% endblock %}
    {% block requirejs %}{% endblock %}

{% endblock %}
