{% extends "wordpress_base.html" %}

{% block base_head_extra %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/hmslincs.css" />

    <script language="javascript" type="text/javascript">
     var require = {
         baseUrl: '{{ STATIC_URL }}/js',
     };
    </script>
    <script src="{{ STATIC_URL }}/js/require-2.1.20.js"></script>
    {# Monkey-patch jquery in so require.js will know about it. #}
    <script language="javascript" type="text/javascript">
     if (typeof jQuery === 'function') {
         define('jquery', function () { return jQuery; });
     }
    </script>

    {% block head_extra %}{% endblock %}

{% endblock %}
