/* Styles for the table. These require unusual specificity to override some
unfortunate stuff from the base stylesheet. */

#content .lookup-table {
  border: 0;
}

#content .lookup-table tr:nth-child(2n) {
  background-color: inherit;
}

#content .lookup-table th, #content .lookup-table td {
  border: 0;
  padding: 0 5px;
  vertical-align: middle;
  font-weight: normal;
}

#content .lookup-table th.col-super-header, #content .lookup-table th.col-header {
  text-align: center;
}

#content .lookup-table th.col-super-header, #content .lookup-table th.row-super-header {
  font-weight: bold;
  font-size: 120%;
}

#content .lookup-table img {
  max-width: inherit;
  height: inherit;
}

div.hr {
  width: 100%;
  height: 1px;
  margin: 0;
  padding: 0;
  background-color: #404040;
  border-bottom: 1px solid #808080;
}

th.col-header {
  height: 60px;
}

th.row-header-inhibitor {
  background-color: hsl(240, 50%, 80%);
}



.lookup-table-popup {
  display: none;
}

.lookup-table-popup > .mejs-container {
  display: inline-block;
}



/* Override some jquery theme items. */

.ui-widget {
  font-family: inherit;
}

.ui-dialog .ui-dialog-titlebar {
  padding: 0 0.4em;
}

.ui-dialog .ui-dialog-titlebar-close {
  right: 0.1em;
}

.ui-dialog .ui-widget-content {
  padding: 0.2em 0 0;
}

.ui-dialog {
  box-shadow: 10px 10px 10px rgba(0,0,0,0.7)
}
