  <div id="scatterplots-main" class="main global"><!--
 --><div id="loading"><div>loading...</div></div><!--
 --><div id="scatterplots-content" class="content"><!--
   --><div class="left-panel"></div><!--
   --><div class="right-panel hidden while-loading"><!--
     --><div class="xy-box hidden"><div class="xy numeric"><span>&nbsp;</span></div>,&nbsp;<div class="xy numeric"><span>&nbsp;</span></div></div><!--
     --><div class="md-box hidden"><!--
        --><div class="point-no numeric">[<span>&nbsp;</span>]</div>&nbsp;<!--
        --><div class="feature-group"><span>&nbsp;</span></div>&nbsp;<div class="time numeric"><span>&nbsp;</span>h</div>&nbsp;<!--
        --><div class="rank numeric">(<span>&nbsp;</span>,&nbsp;<span>&nbsp;</span>)</div><!--
     --></div><!--
     --><div class="ground"><!--
       --><div class="centered"><!--
         --><div class="limit"><!--
           --><div id="main-stage" class="envelope svg-stage"></div><!--
         --></div><!-- <div class="limit"> --><!--
       --></div><!-- <div class="centered"> --><!--
     --></div><!-- <div class="ground"> --><!--
   --></div><!-- <div class="right-panel hidden while-loading"> --><!--
 --></div><!-- <div id="scatterplots-content" class="content"> --><!--
--></div><!-- <div id="scatterplots-main" class="main global"> -->

    <script>
window.__STATIC_URL__ = '{{ STATIC_URL }}adaptive_drug_resistance/';
    </script>

    <script>
        require( [ 'adr/plsr_loadings/app' ], function ( app ) { app() } );
    </script>
