{% extends "base.html" %}

{% load hms_tags %}

{% block requirejs %}
    <script>
    var QUALTRICS_SURVEY_ID = '{{ QUALTRICS_SURVEY_ID }}';
     
    require.config({
        paths: {
            db: 'db/js',
        },
    });
     require( [ 'db/main' ] );
    </script>
{% endblock %}

{% block head_extra %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}ext/jquery-ui/1.11.4/jquery-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/basic_tabs.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/hmslincs.css" />
{% endblock %}

{% block title %}
  HMS LINCS Database
{% endblock %}

{% block nav%}

  {# selectedTag is a custom templatetag #}
  <ul>
    <li class='{% selectedTag request "^/db/$" %}'><a  href="{% url home %}">HMS LINCS DB home</a></li>
    <li class='{% selectedTag request "^/db/sm/" %}'><a  href="{% url listSmallMolecules %}">Small molecules</a></li>
    <ul>
      <li class='{% selectedTag request "^/db/sm/structuresearch/" %}'><a  href="{% url structureSearch %}">Structure search</a></li>
      <li class='{% selectedTag request "^/db/sm/salt/" %}'><a  href="{% url salt_listing %}">Salt table</a></li>
    </ul>
    <li class='{% selectedTag request "^/db/cells/" %}'><a " href="{% url listCells %}">Cells</a></li>
    <li class='{% selectedTag request "^/db/proteins/" %}'><a " href="{% url listProteins %}">Proteins</a></li>
    <li class='{% selectedTag request "^/db/antibodies/" %}'><a " href="{% url listAntibodies %}">Antibodies</a></li>
    <li class='{% selectedTag request "^/db/otherreagents/" %}'><a " href="{% url listOtherReagents %}">Other Reagents</a></li>
    <li class='{% selectedTag request "^/db/datasets/" %}'><a " href="{% url listDatasets %}">Datasets</a></li>
    <li class='{% selectedTag request "^/db/libraries/" %}'><a " href="{% url listLibraries %}">Libraries</a></li>
    <li class="nav-menu-separator"></li>
    {% if user.is_authenticated %}
      <li><a href="/db/logout" title="Logout">Logout</a></li>
      {% if user.is_superuser %}
        <li><a href="/db/admin" title="Admin">Admin</a></li>
      {% endif %}
      <li><em>Logged in as <strong>{{ user }}</strong></em></li>
    {% else %}
      <li><a href="{{ login_url }}" title="Login">Login</a></li>
    {% endif %}
  </ul>

{% endblock %}

{% block body %}
  {# comment login link until after November demo #}
  {% comment %}
  <div id=loginmsg>
    {% if user.is_authenticated %}
      logged in as: {{ user }}<br/>
      <a href="{% url logout %}">Log out</a>
    {% else %}
      <a href="{{ login_url }}">Log in</a>
    {% endif %}
  </div>
  {% endcomment %}

	<div id="innercontent">
	    {% block content %}{% endblock %}
	</div>
  <div id='modal-download-dialog' class='download-feedback-popup' >
  </div>
  <iframe  id='hiddenDownloadiFrame' style='display: None;' />

{% endblock %}
