<table class="detail_table" style="position: relative;">
{% for field,info in object.items %}
{%   if not skip_blanks or info.value %}

<tr>
    <td class="propertyLabelColumn propertyLabel" title="{{ info.fieldinformation.get_column_detail }}" ><b>{{ info.fieldinformation.get_verbose_name }}:</b>
    </td>
    <td class="propertyValueColumn" 
    {% if image_location and info.fieldinformation.field == 'alternative_names' %}
      style="padding-right:238px; word-wrap: break-word; max-width: 238px;"
    {% endif %} >
    {% if not is_restricted or info.fieldinformation.is_unrestricted or user.is_authenticated %}
	    {# TODO: Move all field type information, and link information to the fieldinformation table #}
		  {% if info.value and info.fieldinformation.field == 'pubchem_cid' %}
		  	<a target="_blank" href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid={{ info.value }}">{{ info.value }}</a>
		  {% elif info.value and info.fieldinformation.field == 'chembl_id' %}
				<a target="_blank" href="http://www.ebi.ac.uk/chembldb/compound/inspect/CHEMBL{{ info.value }}">{{ info.value }}</a>
			{% elif info.value and info.fieldinformation.field == 'chebi_id' %}
				<a target="_blank" href="http://www.ebi.ac.uk/chebi/searchId.do;?chebiId=CHEBI:{{ info.value }}">{{ info.value }}</a>
			{% elif info.value and info.fieldinformation.field == 'uniprot_id' %}
				<a target="_blank" href="http://www.uniprot.org/uniprot/{{ info.value }}">{{ info.value }}</a>
      {% elif info.value and info.fieldinformation.field == 'salt_id' %}
        <a target="_blank" href="/db/sm/salt/{{ info.value }}">{{ info.value }}</a>
      {% elif info.fieldinformation.field == 'facility_salt' %}
        {% firstof info.value "" %}
        {% if image_location %}
          <img class='compound_image' src="{{image_location}}" 
          onclick="w=window.open('{{image_location}}','image','height=500,width=500');w.moveTo(500,400);"/>
        {% endif %}
      {% elif info.value and info.link %}
        <a target="_blank" href="{{ info.link }}">{{ info.value }}</a>
      {% elif info.value and info.fieldinformation.field == 'reference_source_url' %}
        <a target="_blank" href="{{ info.value }}">{{ info.value }}</a>
		  {% else %}
	    	{% firstof info.value "" %}
	    {% endif %}
	  {% endif %}
</td></tr>
{% endif %}
{% endfor %}
{# -- extralink is for the LIFE system links #}
{% if extralink %}
	<tr>
    <td class="propertyLabelColumn propertyLabel" title="{{ extralink.title }}" ><b>{{ extralink.name }}:</b>
	</td>
  <td class="propertyValueColumn">
		<a target="_blank" href="{{ extralink.link }}">{{ extralink.value }}</a>
	</td></tr>
{% endif %}
</table>
