{% extends "db/base.html" %}

{% block title %}
  {% if search %}
    Search: "{{ search }}" -
  {% elif structure_search %}
    Structure search -
  {% endif %}
  {{ heading }} - {{ block.super }}
{% endblock %}

{% block content %}
<h2>{{ heading }}</h2>
    {% if usage_message %}
        <div class='usage_message'>
            {{ usage_message|safe }}
        </div>
        <br/>
    {% endif %}
	{% include "db/searchBox.html" %}
	{% include "db/searchExportBox.html" %}
	{% if table %}
		{% load render_table from django_tables2 %}
		{% render_table table %}
	{% elif search %}
	    <p>No records were found for the search term "{{search}}"</p>
	{% endif %}
{% endblock %}


