{% extends "db/base.html" %}
{% load hms_tags %}
{% block content %}
<h2 class='entity_detail_title'>{% if type == "study" %}Study{% endif %}{% if type == "screen" %}Screen{% endif %} {{ object.facility_id.value }} - {{ object.title.value }}</h2>
	<ul class="basictab">
		<li class='{% selectedTag request "^/db/screen/\d+/main$"%}{%selectedTag request "^/db/screen/\d+/$" %}'><a  href="{% url screen_detail_main facility_id=facilityId%}">Detail</a></li>
{% if cellTable %}
		<li class='{% selectedTag request "^/db/screen/\d+/cells$" %}'><a  href="{% url screen_detail_cells   facility_id=facilityId%}">Cells Studied</a></li>
{% endif %}
{% if proteinTable %}
		<li class='{% selectedTag request "^/db/screen/\d+/proteins$" %}'><a  href="{% url screen_detail_proteins   facility_id=facilityId%}">Proteins Studied</a></li>
{% endif %}
		<li class='{% selectedTag request "^/db/screen/\d+/results$" %}'><a  href="{% url screen_detail_results  facility_id=facilityId%}">Results</a></li>
	</ul>
	<div id="screencontent">
	    {% block screenContent %}{% endblock %}
	</div>
{% endblock %}
	