{% extends "db/screenDetailBase.html" %}
{% block screenContent %}
	{% if table %}
	<div id="search">
		<form action="{{ request.get_full_path }}" method="get"> <!-- only needed with post requests: {% csrf_token %}  --> 
			<table>
				<tr>
					<td>
	    			Export as: <select name='output_type' onchange='this.form.submit()'>
									    	<option value=''></option>
									    	<option value='csv'>comma separated</option>
									    	<option value='xls'>Excel File</option>
									    </select>
					</td></tr>
	    </table>
		</form>
	</div>
			{% load render_table from django_tables2 %}
		{% render_table table %}
	{% else %}
	    <p>Screen Result not loaded.</p>
	{% endif %}
{% endblock %}
	