<div id="search" class='search'>
  <form id='form1' action="{{ request.get_full_path }}" method="get">
    <label for="id_search">Search:</label>
      {% if extra_form  %}
        <a href="#" id='form_toggler' title='Extra filter options' onclick="form_toggle();">&gt;&gt;&gt;&gt;</a>
        <a href="#" id='form_untoggler' onclick="form_toggle();">&lt;&lt;&lt;&lt;</a>
      {% endif %}
      <input type="submit" value="search"title='Search for the entered text'  />
      <span class="input-auto-width-wrapper">
        <input id="id_search" type="text" name="search" value="{{ search }}" maxlength="100" tabindex="1" />
      </span>

    {% if extra_form  %}
      <div id="search_div" >
        <label >Add fields and filter:</label><br/>
        <input type="hidden" id="extra_form_shown" name='extra_form_shown' value="{{ extra_form.shown }}" />
        <table>
          <tr>
            <th>add:</th><th>field:</th><th>filter value:</th>
          </tr>
          {% for one,two in extra_form.fieldrows %}
            <tr>
              <td>{{ one }}</td><td title="{{two.help_text}}" >{{ two.label_tag }}</td><td>{{ two.errors }}{{ two }}</td>
            </tr>
          {% endfor %}
        </table>
        <p>
        <button id='submit_button'>Submit</button>
        <button id="clear_form_button">Clear</button>
        </p>
      </div>
    {% endif %}

  </form>

  {% if extra_form  %}
    <script>
    $(function() {
        var clean_form_uri = "{{ request.META.PATH_INFO }}"
        var extra_form_shown = "{{ extra_form.shown }}"

        console.log('extra form: ' + extra_form_shown );
        var form_toggle = window.form_toggle = function(shown){
            var curval = $('#search_div').css('display') != 'none';
            console.log('form_toggle: ' + shown + ', currently: ' + $('#search_div').css('display') );
            if(shown){
                $('#search_div').show();
                $('#form_toggler').hide();
                $('#form_untoggler').show();
            }else{
                $('#search_div').toggle();
                $('#form_toggler').toggle();
                $('#form_untoggler').toggle();
                $('#extra_form_shown').val(!curval);
            }
        };

        var clear_form = window.clear_form = function(){
            window.location = clean_form_uri;
        };

        if( extra_form_shown){
            console.log('toggle');
            form_toggle(extra_form_shown);
        }else{
          $('#search_div').hide();
          $('#form_toggler').show();
          $('#form_untoggler').hide();
        }
        $('#clear_form_button').click(function(evt){
            evt.preventDefault();
            console.log('clear form to ' + clean_form_uri);
            // $('#extra_form').attr('action',clean_form_uri);
            window.location = clean_form_uri;
            // $('#extra_form').submit();
        });
        $('#submit_button').click(function(evt){
            evt.preventDefault();
            $('#form1').submit();
        });
        if(window.location.search){
            console.log('window.location.search: ' + window.location.search);
            // form_toggle();
            var new_uri = clean_form_uri + window.location.search;
            $('#excel_export_link').attr('href', new_uri + '&output_type=.xls');
            $('#csv_export_link').attr('href', new_uri + '&output_type=.csv');
        }
    });
    </script>
  {% endif %}
</div>
{% if search_label %}
  <h3>{{search_label}}</h3>
{% endif %}
