{% extends "base.html" %}

{% block head %}
  <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script> -->
  <!-- <script src="{{ STATIC_URL }}sensitivities/js/sensitivities.js"></script> -->
  <link rel="stylesheet" href="{{ STATIC_URL }}sensitivities/css/sensitivities.css"/>

{% endblock %}
{% block body %}

<div>

<h1>Multi-parametric description of drug sensitivity in cancer cell lines</h1>
<hr>

<p class=normal><span>&nbsp;</span></p>
<p class=normal><b><span>Dose-response curves</span></b></p>
<p class=normal><span>The shape of the dose-response curve is the most fundamental measure of cellular response to drugs or other perturbing agents.  The curve is usually characterized by the IC50, the point at which half-maximal effect is achieved. This is known to vary with drug and cell type, as shown by the red curves, which show the dose-response behavior for of ~50 tumor cell lines to the drug fascaplysin, a natural product and selective inhibitor of the <span class=st>CDK4/cyclin D1 kinase</span>. In a very simple system IC50 correspond to the point of half-maximal drug-target binding.</span></p>
<!-- <p class=normal><span>&nbsp;</span></p> -->
<p class=normal><span>However, in many cases we observe variation in the maximum effect at the highest drug doses, as illustrated by the dose-response relationships for the microtubule inhibitor and chemotherapeutic drug Docetaxel (blue curves). Variation of this type is not well described by IC50 and remains poorly understood. We have prepared a brief tutorial describing ways of measuring and parameterizing dose-response. </span></p>
<p class=normal><span>&nbsp;</span></p>
<p class=normal align=center style='text-align:center'><img width=385 height=216 id="Picture 1" src="{{ STATIC_URL }}sensitivities/img/image002.png" alt="Comparison of Fascaplysin and Docetaxel"></p>


<h3>
HMS LINCS Center White Paper:</h3>
Fallahi-Sichani&nbsp;M.&nbsp;and&nbsp;Sorger&nbsp;PK.&nbsp;&nbsp;Characterizing cellular dose-response relationships.&nbsp;&nbsp;<a href="{{ STATIC_URL }}sensitivities/dose_response_white_paper_2012.pdf">(pdf)</a>

</div>

{% endblock %}
