{% load hms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>HMS LINCS DB</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/basic_tabs.css" />
</head>
<body>
<h1>Welcome to the HMS LINCS Server</h1>
	<p style="font-size: 1.3em; line-height: 1.5; margin: 1em 0; width: 50%;">This database is part of the <a href="http://lincs.hms.harvard.edu/">HMS LINCS Project</a>.</p>

	<ul class="basictab">
		<li class='{% selectedTag request "^/example/$" %}'><a  href="{% url home %}">Home</a></li>
		<li class='{% selectedTag request "^/example/sm/" %}'><a  href="{% url listSmallMolecules %}">Small Molecules</a></li>
		<li class='{% selectedTag request "^/example/cells/" %}'><a " href="{% url listCells %}">Cells</a></li>
	</ul>

		<div id="content">
		    {% block content %}{% endblock %}
		</div>
	</div>
</body>