{% extends "example/base.html" %}
{% block content %}
	<div id="search">
		<form action="{{ request.get_full_path }}" method="get"> <!-- needed for post: {% csrf_token %}  --> 
			<p><label for="id_search">Search:</label>
	    <input id="id_search" type="text" name="search" value="{{ search }}" maxlength="100" tabindex="1" /></p>
		</form>
	</div>
	{% if table %}
		{% load render_table from django_tables2 %}
		{% render_table table %}
	{% else %}
	<H2>Welcome to the HMS LINCS Database</H2>
		<ul>
      <li>This database is under development, improvements are ongoing.</li>
      <li>The HMS LINCS Database currently contains information on perturbagens, cells, and HMS LINCS datasets. A list of the datasets available via the HMS LINCS Database can be found on the "Data being collected" page of the <a href="http://lincs.hms.harvard.edu/">HMS LINCS website</a>. Other large and more complex HMS LINCS datasets are stored in the HMS LINCS Data Repository, which will be accessible online by the end of the summer of 2011.  In the future it will be possible to search for metadata in Data Repository using the Database.  As of July 2011, this is not yet implemented.</li>
			<li>Programmatic access to the HMS LINCS Database is detailed at the <a href='https://docs.google.com/document/pub?id=1-LOe1VwRhdyJsd-0cWe9yr1AGiBIpGLSqoj-91Abz_I'>Programmatic Data Access API documentation</a> page.</li>
			<li>Metadata standards for the data in the HMS LINCS DB are currently being developed in collaboration with the LINCS centers.  Updated information about these standards can be found at the <a href="http://lincsproject.org/data-standards/">LINCS project website data standards page</a>.</li>
   	</ul>

    <p style="font-weight:bold; font-size:large; font-variant:small-caps">A quick guide to using the HMS LINCS Database (updated April 2012):</p>
    <ul>
			<li>To browse the HMS LINCS small molecule inhibitor collection, click on "Reagents" in the Browse section on the left menu bar. This will bring up a list of the unique HMS LINCS reagents, with one batch per reagent displayed. From this browse result, click on "Browse Reagent Wells" to see a list of all batches and wells containing the reagents. Click on an individual reagent ID in the "Facility-Salt-Batch-ID"; column to see details about that compound.</li>
			<li>To search for a single or list of compounds by compound name or ID#, use the 'Find Reagents by... Compound Name" feature on the left side menu.</li>
			<li>To search for a cell line or cell type, open the cells browser using the "Browse... Cells" link on the left menu.  There is a search menu (expandable) at the top of the Cells page. Cells used in particular assays are listed on the relevant "Screens" pages.</li>
			<li>QC information for specific small molecule compound batches is accessible through the "Attached Files" links on each Reagent page (note that not all compounds have QC information available).</li>
			<li>Use "Browse Screens" to access assay protocols and data from the Mitchison lab Apoptosis and Mitosis assays.</li>
			<li>Use "Browse Studies" to access protocols and data from drug-target interaction profiling assays (KINOMEscan and KiNativ assays) and data on compounds profiled using the MGH/Sanger Institute growth inhibition assay.</li>
			<li>To find the target(s) of an inhibitor as reported in the literature, the information can currently be found in Study 300001, or, when viewing a single compound, by scrolling to the "Studies" section at the bottom of the page.</li>
			<li>Searches fulfilling more complex criteria can be accessed via "Find Reagents by...Other criteria" on the left menu bar or initiated by clicking "Search" at the top of any Database pages (e.g. a Reagents, Libraries, Screens, or Studies display page).  For any search, the number of fields searched and displayed can be increased or decreased by clicking "Columns (add/remove)" once in Search mode.</li>
			<li>You can download the viewed data from any page as an Excel or SD file by clicking the "Export" button.</li>
		</ul>
	{% endif %}
{% endblock %}

