path {
    stroke-width: 1;
    fill: none;
}

.plotline {
    stroke: black;
    stroke-width: 2;
}

.auxline {
    stroke: gray;
    stroke-width: 1;
}

.axis {
    shape-rendering: crispEdges;
}

.axis line, .axis path {
    fill: none;
    stroke: #000;
}

.axis text, .label, #controls td {
  font-family: Consolas, Monaco, "Andale Mono WT", "Andale Mono", "Nimbus Mono L", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Courier New", Courier, monospace;
  font-size: 10pt;
}

.subscript {
  font-size: 8pt;
}

.superscript {
  font-size: 7pt;
}

.area {
    fill: #f7ab53;
    stroke-width: 0;
}

.equation-box {
    width: 100%;
}

#graph-container {
    width: 604px;
    margin: 0px auto;
}

.equation-img {
    width: 90%;
    margin: 0px auto;
}

.equation-img img {
    display: block;
    margin: auto;
}

#control-panel {
    width: 100%;
}

.caption {
  width: 80%;
  margin: 0px auto;
  margin-bottom: 7ex;
}

#controls {
    width: 100%;
    margin: 0px auto;
}

#sliders, #presets {
    width: 50%;
    margin: 0px auto;
}

#presets table {
    table-layout: fixed;
}

#presets button {
    width: 100%;
}

#controls table { 
    border: 0px;
    width: 325px;
    margin: 0px auto;
}

#sliders table {
    margin-bottom: 3ex;
}

#presets table {
    margin-bottom: 3ex;
}

#controls tr:nth-child(2n) { 
    background-color: #ffffff;
}

#controls td { 
    border: 0px;
    vertical-align: middle;
}

#presets td {
    margin: 0;
    padding: 0;
}

.slider {
    width: 200px;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 5pt;
}

.slider-value {
    width: 5em;
    text-align: right;
}

.ui-slider-range {
    background: #f7ab53;
    background-image: none;
}

.outside-tested-range {
  color: #f7ab53;
}

.not-defined {
  color: #ff0000;
}
