.fg-focus.c-00>path,.fg-picked.c-00>path{fill:#5c5cd6;}.li-focus.c-00,.li-picked.c-00{background-color:#5c5cd6}
.fg-focus.c-01>path,.fg-picked.c-01>path{fill:#d65ca3;}.li-focus.c-01,.li-picked.c-01{background-color:#d65ca3}
.fg-focus.c-02>path,.fg-picked.c-02>path{fill:#d6c25c;}.li-focus.c-02,.li-picked.c-02{background-color:#d6c25c}
.fg-focus.c-03>path,.fg-picked.c-03>path{fill:#5cd67a;}.li-focus.c-03,.li-picked.c-03{background-color:#5cd67a}
.fg-focus.c-04>path,.fg-picked.c-04>path{fill:#5c85d6;}.li-focus.c-04,.li-picked.c-04{background-color:#5c85d6}
.fg-focus.c-05>path,.fg-picked.c-05>path{fill:#d65ccc;}.li-focus.c-05,.li-picked.c-05{background-color:#d65ccc}
.fg-focus.c-06>path,.fg-picked.c-06>path{fill:#d6995c;}.li-focus.c-06,.li-picked.c-06{background-color:#d6995c}
.fg-focus.c-07>path,.fg-picked.c-07>path{fill:#66d65c;}.li-focus.c-07,.li-picked.c-07{background-color:#66d65c}
.fg-focus.c-08>path,.fg-picked.c-08>path{fill:#5caed6;}.li-focus.c-08,.li-picked.c-08{background-color:#5caed6}
.fg-focus.c-09>path,.fg-picked.c-09>path{fill:#b75cd6;}.li-focus.c-09,.li-picked.c-09{background-color:#b75cd6}
.fg-focus.c-10>path,.fg-picked.c-10>path{fill:#d6705c;}.li-focus.c-10,.li-picked.c-10{background-color:#d6705c}
.fg-focus.c-11>path,.fg-picked.c-11>path{fill:#8fd65c;}.li-focus.c-11,.li-picked.c-11{background-color:#8fd65c}
.fg-focus.c-12>path,.fg-picked.c-12>path{fill:#5cd6d6;}.li-focus.c-12,.li-picked.c-12{background-color:#5cd6d6}
.fg-focus.c-13>path,.fg-picked.c-13>path{fill:#8e5cd6;}.li-focus.c-13,.li-picked.c-13{background-color:#8e5cd6}
.fg-focus.c-14>path,.fg-picked.c-14>path{fill:#d65c71;}.li-focus.c-14,.li-picked.c-14{background-color:#d65c71}
.fg-focus.c-15>path,.fg-picked.c-15>path{fill:#b8d65c;}.li-focus.c-15,.li-picked.c-15{background-color:#b8d65c}
.fg-focus.c-16>path,.fg-picked.c-16>path{fill:#5cd6ad;}.li-focus.c-16,.li-picked.c-16{background-color:#5cd6ad}
.fg-focus.c-17>path,.fg-picked.c-17>path{fill:#655cd6;}.li-focus.c-17,.li-picked.c-17{background-color:#655cd6}
.fg-focus.c-18>path,.fg-picked.c-18>path{fill:#d65c9a;}.li-focus.c-18,.li-picked.c-18{background-color:#d65c9a}
.fg-focus.c-19>path,.fg-picked.c-19>path{fill:#d6cb5c;}.li-focus.c-19,.li-picked.c-19{background-color:#d6cb5c}
.fg-focus.c-20>path,.fg-picked.c-20>path{fill:#5cd684;}.li-focus.c-20,.li-picked.c-20{background-color:#5cd684}
