/* -------------------------------------------------------------------------- */

.downloads td:nth-child(1), .downloads td:nth-child(3) {
  white-space: nowrap;
}

td {
  white-space: inherit;
}

/* -------------------------------------------------------------------------- */

.svg-wrapper {
  display: inline-block;
  vertical-align: top;
}

svg {
  background-color:white;
  font: 10px sans-serif;
  outline: 1px solid #aaa;
}

.svg-title {
  font: 13px sans-serif;
}

.scatterplot-title {
  font: 8px sans-serif;
}

.axis path, .axis line {
  fill:none;
  stroke:black;
  shape-rendering:crispEdges;
}

.svg-stage .null {
  display: none;
}

/* -------------------------------------------------- */

.left-panel {
  position:absolute;
  width: 160px;
}

.left-panel p {
  margin: 0;
}

/* -------------------------------------------------- */

.list-container .cl-focus,
.list-container .cl-picked {
  background-color: #666;
}

/* -------------------------------------------------- */

.point > path {
  fill: none;
  stroke: none;
  pointer-events: none;
}

.point > path {
  fill-opacity: 0.75;
}

.point > path {
  stroke-width: 1px;
  stroke-opacity: 1;
}

.target > path {
  pointer-events: fill;
}

.target > path,
.fg-focus .target > path:hover,
.fg-picked .target > path:hover {
  fill: black;
  fill-opacity: 0.2;
  stroke: none;
  pointer-events: fill;
}

.fg-focus .target > path,
.fg-picked .target > path {
  stroke-opacity: 0;
  fill-opacity: 0;
}

.fg-picked > path {
  fill-opacity: 0.80;
}

.rppa-measurement .list-container li.li-picked {
  opacity:0.80;
}

.fg-focus > path {
  fill-opacity: 0.65;
}

.rppa-measurement .list-container li.li-focus {
  opacity:0.65;
}

.list-container {
  cursor: default;
}

.rppa-measurement li {
  border-top-color: white;
  border-top-style: solid;
  border-bottom-color: white;
  border-bottom-style: solid;
}

.rppa-measurement li.viability {
  border-top-color: black;
}

.rppa-measurement li.perk-t202-y204 {
  border-top-style: solid;
  border-top-color: black;
}

.rppa-measurement li.perk-t202-y204,
.rppa-measurement li.pmek-s217-221 {
  font-style: italic;
}

g.viability.fg-focus > path,
g.viability.fg-picked > path { fill: #e6001c; }
.rppa-measurement li.li-focus.viability,
.rppa-measurement li.li-picked.viability { background-color: #e6001c; }

/* -------------------------------------------------- */

.hidden {
  visibility: hidden;
}

.xy-box, .md-box {
  display: inline-block;
  padding: 0px;
}

.md-box {
  margin-left: 50px;
}

.xy-box > div, .md-box > div {
  display: inline-block;
  white-space:nowrap;
}

.xy {
  width: 30px;
}

.numeric {
  text-align: right;
}

.md-box .time {
  width: 80px;
}
.md-box .feature-group {
  text-align: right;
  width: 130px;
}

.md-box .point-no, .md-box .rank {
  width: 24px;
  display: none;   /* comment-out for dev work/debugging */
}

/* -------------------------------------------------- */

#loading {
  font-size:14px;
  font-style: italic;
  margin: 20px;
}

/* -------------------------------------------------- */

.off-stage {
  top: -1000000px;
  position: absolute;
}

/* -------------------------------------------------- */

button {
  margin: 5px;
}

.track-container:not(:last-child) {
  margin-bottom: 10px;
}

/* -------------------------------------------------------------------------- */

.thumbnails table {
  border-collapse: collapse;
}

.thumbnails td > div {
  display: block;
  position: relative;
}

.thumbnails {
  text-align: center;
}

.thumbnails * {
  text-align: left;
}

.thumbnails > div {
  display: inline-block;
  vertical-align: top;
}

.thumbnails tr, .thumbnails td {
  background: white;
}

.thumbnails td:nth-child(2) {
  width: 400px;
}

#override
.thumbnails td {
  border-right: 0;
  border-bottom: 1px solid #e0e0e0;
}

.thumbnails td:first-child img,
.thumbnails td:last-child > div
{
  margin: 5px;
}

.thumbnails .hover-overlay {
  background: #009ceb;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

.thumbnails .hover-overlay:hover {
  opacity: 0.2;
  cursor: pointer;
}

#override
.thumbnails td:not(last-child)
{
  padding: 15px 0px 15px 15px;
}

#override
.thumbnails td:last-child
{
  padding: 15px;
}
