td {
  white-space: inherit;
}

.thumbnails table {
  border-collapse: collapse;
}

.thumbnails td > div {
  display: block;
  position: relative;
}

.thumbnails {
  text-align: center;
}

.thumbnails * {
  text-align: left;
}

.thumbnails > div {
  display: inline-block;
  vertical-align: top;
}

.thumbnails tr, .thumbnails td {
  background: white;
}

.thumbnails td:nth-child(2) {
  width: 400px;
}

#override
.thumbnails td {
  border-right: 0;
  border-bottom: 1px solid #e0e0e0;
}

.thumbnails td:first-child img,
.thumbnails td:last-child > div
{
  margin: 5px;
}

.thumbnails .hover-overlay {
  background: #009ceb;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

.thumbnails .hover-overlay:hover {
  opacity: 0.2;
  cursor: pointer;
}

#override
.thumbnails td:not(last-child)
{
  padding: 15px 0px 15px 15px;
}

#override
.thumbnails td:last-child
{
  padding: 15px;
}
