/** tab style from: http://www.dynamicdrive.com/style/csslibrary/item/css-tabs-menu/ **/
.basictab{
padding: 3px 0;
margin-left: 0;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.basictab li{
display: inline;
margin: 0;
}

.basictab li a{
padding: 3px 7px;
margin-right: 3px;
border-bottom: none;
color: #E6941E;
text-decoration:none;
}

.basictab li a:hover {
	text-decoration: underline;
}
.basictab .selected a {
	font-weight:bold;
}