.content#content {
  overflow-x: auto; /* for pages with too many columns */
}

.content-minimal#content{
	overflow-x: inherit;
	width: inherit;
	left: 10px;
}

.content-minimal .href-button.full-screen-view {
    display: none;
}

.href-button {
	font-size: 14px;
}
.href-button a:hover {
    text-decoration: none;
    background: url(../images/full_window_button_hover.png);
}
.href-button a{
	  padding: 10px 15px 10px 4px;
    width: 125px;
    height: 35px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 3px #000000 ;
    background: url(../images/full_window_button.png);
}

.left_link img{
	opacity: 0.5;
	position: relative;
	top: 5px;
	
}
/* .href-button a{ */
/*    border-top: 1px solid #96d1f8; */
/*    background: #65a9d7; */
/*    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7)); */
/*    background: -webkit-linear-gradient(top, #3e779d, #65a9d7); */
/*    background: -moz-linear-gradient(top, #3e779d, #65a9d7); */
/*    background: -ms-linear-gradient(top, #3e779d, #65a9d7); */
/*    background: -o-linear-gradient(top, #3e779d, #65a9d7); */
/*    padding: 5px 10px; */
/*    -webkit-border-radius: 8px; */
/*    -moz-border-radius: 8px; */
/*    border-radius: 8px; */
/*    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0; */
/*    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0; */
/*    box-shadow: rgba(0,0,0,1) 0 1px 0; */
/*    text-shadow: rgba(0,0,0,.4) 0 1px 0; */
/*    color: white; */
/*    font-size: 14px; */
/*    font-family: Georgia, serif; */
/*    text-decoration: none; */
/*    vertical-align: middle; */
/*    } */
/* .href-button:hover { */
/*    border-top-color: #28597a; */
/*    background: #28597a; */
/*    color: #ccc; */
/*    } */
/* .href-button:active { */
/*    border-top-color: #1b435e; */
/*    background: #1b435e; */
/*    } */
   
   
#loginmsg {
  float: right;
  width:200px;
}
img:not(.compound_image_thumbnail):not(.compound_image){
	max-width: 100%;
	height: auto;
}

.noborders {
	border: 0px;
	border-collapse:collapse;
}

.compound_image {
 position: absolute;
 right: 0px;
 height: 170px;
 width: 170px;
}

img.compound_image_thumbnail {
	height: 78px;
	width: 78px;
}
.molfile_link {
 position:absolute;
 right:1em;
 height: 16em;
}
td {
	vertical-align: top;
	white-space: nowrap;
}

td.propertyValueColumn {
    white-space: normal
}

h2 {
  font-weight: bold;
}

h2#dataset_h2 {
    float: left;
}

.search {
  border-radius: 3px;
  border: solid 1px #E6941E;
  background: #F9E8D1;
  padding: 0.5em;
  margin-bottom: 1em;
}
#search label {
  font-size: 14px;
  font-weight: bold;
  float: left;
  margin-right: 0.4em;
}
#id_search {
  border: solid 1px #888888;
  height: 18px;
  width: 100%;
  vertical-align: top;
}

#search input[type="submit"] {
  color: transparent;
  background: url("/_static/images/magnifyingglass.png") no-repeat 1px 1px white;
  height: 20px;
  width: 20px;
  border: solid 1px #888888;
  float: right;
  font-size: 0;
}

#search th,#search  tr,#search tr:nth-child(even), #search  td{
  border: none;
  background-color: transparent;
}

/** custom column for the dataset types column, so that it will be fixed width.**/
div.constrained_width_column {
  white-space: normal;
  max-width: 200px;
  word-wrap: break-word;
}
div.constrained_width_column_300 {
  white-space: normal;
  max-width: 300px;
}
div.wide_width_column {
  white-space: normal;
}
div.comment_column {
  white-space: normal;
  max-width: 300px;
  min-width: 200px;
  word-wrap: break-word;
}
div.snippet {
  white-space: normal;
  max-width: 450px;
}

#form_toggler {
  color: transparent;
  background: url("/_static/images/br_down_icon&16.png")  no-repeat 1px 1px white;
  height: 18px;
  width: 17px;
  border: solid 1px #888888;
  float: right;
  font-size: 0;
}

#form_untoggler {
  display: none;
  color: transparent;
  background: url("/_static/images/br_up_icon&16.png")  no-repeat 1px 1px white;
  height: 18px;
  width: 17px;
  border: solid 1px #888888;
  float: right;
  font-size: 0;
}

#search_export {
  overflow: auto;
}

#search_export > p {
  float: right;
}

span.input-auto-width-wrapper {
  display: block;
  overflow: hidden;
}

th.asc {
	font-style: italic;
	background: url("/_static/images/br_down_icon&16.png") no-repeat scroll right bottom transparent;
}

th.desc {
	font-style: italic;
	background: url("/_static/images/br_up_icon&16.png") no-repeat scroll right bottom transparent;
}


.table-container {
  overflow-x: auto;
}
.entity_detail_title{
	text-indent: 5px;
	font-size: large;
	border-bottom: 1px solid gray;
}
.entity-detail-other {
  font-weight: normal;
}
.propertyLabelColumn {
  width: 160px;
  min-width: 160px;
	padding-bottom: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: white;

	vertical-align: top;
	padding-top: 1px;
	padding-left: 3px;
	padding-right: 3px;
}
.propertyLabelColumn, .propertyLabel, .subduedLabel {
	font-weight: bold;
	background-color: #DDD;
}

.propertyValueColumn {
	padding-left: 3px;
  word-wrap: break-word;
  width: 476px;
  max-width: 476px;
}

#innercontent ul.pagination {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

ul.pagination > li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 8px;
  border-left: 1px solid #000000;
}

ul.pagination > li:first-child {
  padding-left: 0;
  border-left: 0;
}

ul.pagination > li.items_per_page {
  border-left: 0;
  position: absolute;
  right: 0;
  padding-right: 0;
}
.items_per_page select {
	margin-left: 5px;
}
/*
#id_items_per_page {
  vertical-align: middle;
}
*/

#content ul.basictab {
  margin-left: 0;
}

td.facility_salt_batch {
  white-space: nowrap;
}

.usage_message {
  border: 1px solid black ;
  padding: 4px;
}

#structure_search {
  border-radius: 3px;
  border: solid 1px #E6941E;
  background: #F9E8D1;
  padding: 0.5em;
  margin-bottom: 1em;
}

.structure_search_form form p {
	position:relative;
	display:block;
}
.structure_search_form form label {
	vertical-align: top
}

.structure_search_form input[type="submit"]{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.structure_search_form form input,.structure_search_form form select {
	position: absolute; left:8em;
}
.structure_search_form form textarea {
	/* TODO: Note: textarea overlaps subsequent elements unless position: relative; */
	position: relative; left: 2em;
}

.result_message {
	font-size: 15px;
	font-weight: bold;
	color: #E6941E;
	display: block;
  padding: 0px;
}

/*
.basictab li a {
    background-color: #FFCE87;
}

.basictab li.selected a, .basictab li a:hover {
    background-color: #E6941E;
}

*/

li.nav-menu-separator {
    width: 60%;
    border-top: 1px solid #E6941E;
    border-bottom: 1px solid #F9E8D1;
}

a.ref {
  vertical-align: super;
  font-size: smaller;
  line-height: 0;
}

.download-feedback-popup {
  display: none;
  background: white;
}

.hmslincssurvey.ui-dialog .ui-dialog-buttonpane {
    border-top-width:0px; border-bottom-width:1px;
}

.hmslincssurvey.ui-dialog .ui-dialog-title {
  text-align: center;
}

.hmslincssurvey.ui-dialog .ui-dialog-content {
    padding: 0.2em;
}

.hmslincssurvey.ui-dialog .ui-dialog-buttonset .ui-button {
    background: none;
    border: none;
    color: #aaaaaa;
    text-decoration: underline;
}

.hmslincssurvey.ui-dialog .ui-dialog-buttonset .ui-button:hover {
    color: #666666;
}

table.paleblue th{
    color: #009ceb;
}