#content {
  overflow-x: auto; /* for pages with too many columns */
}

#content.fullwidth {
  left: 23px;
  width: 893px;
}

#loginmsg {
  float: right;
  width:200px;
}
img {
	max-width: 100%;
	height: auto;
}
.noborders {
	border: 0px;
	border-collapse:collapse; 
}
.compound_image {
 position:absolute;
 top:2em;
 right:1em;
 height: 16em;
}
.molfile_link {
 position:absolute;
 right:1em;
 height: 16em;
}
td {
	vertical-align: top;
}
h2 {
  font-weight: bold;
}

#search {
  border-radius: 3px;
  border: solid 1px #E6941E;
  background: #F9E8D1;
  padding: 0.5em;
  margin-bottom: 1em;
}
#search label {
  font-size: 14px;
  font-weight: bold;
  float: left;
  margin-right: 0.4em;
}
#id_search {
  border: solid 1px #888888;
  height: 18px;
  width: 100%;
  vertical-align: top;
}
#search input[type="submit"] {
  color: transparent;
  background: url("/_static/images/magnifyingglass.png") no-repeat 1px 1px white;
  height: 20px;
  width: 20px;
  border: solid 1px #888888;
  float: right;
  font-size: 0;
}

#search_export {
  overflow: auto;
}

#search_export > p {
  float: right;
}

span.input-auto-width-wrapper {
  display: block;
  overflow: hidden;
}

th.asc {
	font-style: italic;
	background: url("/_static/images/arrow-up_icon.png") no-repeat scroll right bottom transparent;
}

th.desc {
	font-style: italic;
	background: url("/_static/images/arrow-down_icon.png") no-repeat scroll right bottom transparent;
}


.table-container {
  overflow-x: auto;
}
.entity_detail_title{
	text-indent: 5px;
	font-size: large;
	border-bottom: 1px solid gray;
}
.entity-detail-other {
  font-weight: normal;
}
.propertyLabelColumn {
  width: 160px;
  min-width: 160px;
	padding-bottom: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: white;

	vertical-align: top;
	padding-top: 1px;
	padding-left: 3px;
	padding-right: 3px;	
}
.propertyLabelColumn, .propertyLabel, .subduedLabel {
	font-weight: bold;
	background-color: #DDD;
}

.propertyValueColumn {
	padding-left: 3px;
  word-wrap: break-word;
  width: 476px;
  max-width: 476px;
}

#innercontent ul.pagination {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

ul.pagination > li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 8px;
  border-left: 1px solid #000000;
}

ul.pagination > li:first-child {
  padding-left: 0;
  border-left: 0;
}

ul.pagination > li.items_per_page {
  border-left: 0;
  position: absolute;
  right: 0;
  padding-right: 0;
}
.items_per_page select {
	margin-left: 5px;
}
/*
#id_items_per_page {
  vertical-align: middle;
}
*/

#content ul.basictab {
  margin-left: 0;
}

td.facility_salt_batch {
  white-space: nowrap;
}

.usage_message {
  border: 1px solid black ;
  padding: 4px;
}

#structure_search {
  border-radius: 3px;
  border: solid 1px #E6941E;
  background: #F9E8D1;
  padding: 0.5em;
  margin-bottom: 1em;
}

.structure_search_form form p {
	position:relative;
	display:block;  
}
.structure_search_form form label { 
	vertical-align: top
}

.structure_search_form input[type="submit"]{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.structure_search_form form input,.structure_search_form form select { 
	position: absolute; left:8em; 
}
.structure_search_form form textarea {
	/* TODO: Note: textarea overlaps subsequent elements unless position: relative; */
	position: relative; left: 2em;
}

.result_message {
	font-size: 15px;
	font-weight: bold;
	color: #E6941E;;
	display: block;
  padding: 0px;
}

/*
.basictab li a {
    background-color: #FFCE87;
}

.basictab li.selected a, .basictab li a:hover {
    background-color: #E6941E;
}

*/
