#content {
  overflow-x: auto; /* for pages with too many columns */
}

#loginmsg {
  float: right;
  width:200px;
}
img {
	max-width: 100%;
	height: auto;
}
.noborders {
	border: 0px;
	border-collapse:collapse; 
}
.compound_image {
 position:absolute;
 top:2em;
 right:1em;
 height: 16em;
}
td {
	vertical-align: top;
}
h2 {
  font-weight: bold;
}

#search {
    border-radius: 5px;
    border: solid 1px #E6941E;
    background: #F9E8D1;
    padding: 0.5em;
    margin-bottom: 1em;
}
#search p {
    margin-bottom: 0;
}
#search label {
    font-size: 14px;
    font-weight: bold;
}
#id_search {
    border: solid 1px #888888;
    height: 18px;
}
#search a{
color: #E6941E;
text-decoration:none;
}
.search_export {
    float: right;
}
#search input[type="submit"] {
    color: transparent;
    background: url("/_static/images/magnifyingglass.png") no-repeat 1px 1px white;
    height: 20px;
    width: 20px;
    border: solid 1px #888888;
}

#search a:hover {
	text-decoration: underline;
}

th.asc {
	font-style: italic;
	background: url("/_static/images/arrow-up_icon.png") no-repeat scroll right bottom transparent;
}

th.desc {
	font-style: italic;
	background: url("/_static/images/arrow-down_icon.png") no-repeat scroll right bottom transparent;
}


.table-container {
  overflow-x: auto;
}
.entity_detail_title{
	text-indent: 5px;
	font-size: large;
	font-weight: bold;
	border-bottom: 1px solid gray;
}
.propertyLabelColumn {
  width: 160px;
  min-width: 160px;
	padding-bottom: 1px;
	border-width: 1px;
	border-style: solid;
	border-color: white;

	vertical-align: top;
	padding-top: 1px;
	padding-left: 3px;
	padding-right: 3px;	
}
.propertyLabelColumn, .propertyLabel, .subduedLabel {
	font-weight: bold;
	background-color: #DDD;
}

.propertyValueColumn {
	padding-left: 3px;
  word-wrap: break-word;
  width: 476px;
  max-width: 476px;
}

#innercontent ul.pagination {
  margin-left: 0;
}

ul.pagination > li {
  display: inline;
  padding: 0 8px;
  border-left: 1px solid #000000;
}

ul.pagination > li:first-child {
  padding-left: 0;
  border-left: 0;
}

#content ul.basictab {
  margin-left: 0;
}

td.facility_salt_batch {
  white-space: nowrap;
}

.usage_message {
  border: 1px solid black ;
  padding: 4px;
}

/*
.basictab li a {
    background-color: #FFCE87;
}

.basictab li.selected a, .basictab li a:hover {
    background-color: #E6941E;
}

*/
