<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	
	<link rel="stylesheet" href="{{ STATIC_URL_2 }}css/wp-style.css" type="text/css" />
	<!--[if IE 6]>
	<link rel="stylesheet" href="{{ STATIC_URL_2 }}css/wp-ie6.css" type="text/css" />
	<![endif]-->
	<link rel="stylesheet" href="{{ STATIC_URL_2 }}css/wp-print.css" type="text/css" media="print" />
	
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL_2 }}js/wp-main.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL_2 }}css/hmslincs.css" />

        <link rel="stylesheet" href="{{ STATIC_URL_2 }}css/smoothness-jquery-ui.css"/>
        <script type="text/javascript" src="{{ STATIC_URL_2 }}js/jquery-ui.js"></script>

        {% include "head-extra.html" %}
        {% block head %}
          <title>HMS LINCS Project</title>
        {% endblock %}
</head>

<body>
	<div id="header-wrap">
		<div id="header">
			<h1>HMS LINCS Project</h1>
			<span class="tagline">Library of Integrated Network-based Cellular Signatures</span>

<div class="menu-mini-container">
  <ul>
    <li class="button" id="explore-link">&nbsp; {# nbsp is a hack to get Safari to lay the menu out right #}
      <a title="Explore" href="/explore/">Explore</a>
    </li>
    <li class="button" id="data-link">
      <a title="Data" href="/data/">Data</a>
    </li>
    <li>
      <a title="About" href="/about/">About</a>
    </li>
    <li>
      <a title="Funding" href="/about/funding/">Funding</a>
    </li>
  </ul>
</div>


		</div>
	</div><!-- end header-wrap -->

	<div id="pagebody-wrap">
	
		<div id="pagebody">
		
			<div id="content" class="{% block contentclass %}{% endblock %}">

                          {% block body %}{% endblock %}

        {% include "citation_notice.html" %}

			</div><!-- end content -->
		
                        <ul id="sidebar" class="widget-area leftColumn">
                          <li id="page-nav">
                            {% block nav %}{% endblock %}
                          </li><!-- end page-nav -->
                        </ul><!-- end sidebar .widget-area -->			

			<div class="clear-both"></div>
		
		</div><!-- end pagebody -->
		
	</div><!-- end pagebody-wrap -->


	<div id="footer-wrap"></div>
	
	
</body>

</html>
