<h2>{{ table.name }}</h2>

<div class="lookup-table-container">

  {% for link in ligand_links %}
  <a class="level-label" href="../ligand/{{ link.name }}.html"
            style="left: {{ link.left }}px; top: {{ link.top }}px;
       width: {{ link.width }}px; height: {{ link.height }}px;">
    ligand {{ link.name }}
  </a>
  {% endfor %}

  {% for link in cell_line_links %}
  <a class="level-label" href="../cell_line/{{ link.name }}.html"
            style="left: {{ link.left }}px; top: {{ link.top }}px;
       width: {{ link.width }}px; height: {{ link.height }}px;">
    cell line {{ link.name }}
  </a>
  {% endfor %}

  {% for cell in table.cells %}
  <div class="lookup-table-hotspot cell-{{ cell.name }}"
       style="left: {{ cell.left }}px; top: {{ cell.top }}px;
       width: {{ cell.width }}px; height: {{ cell.height }}px;">
  </div>
  <div class="lookup-table-popup cell-{{ cell.name }}"
       title="{{ cell.cell_line }} responses to {{ cell.ligand }}">
    <img src="img/{{ cell.name }}.png" width="350" height="257" />
  </div>
  {% endfor %}

  <img src="{{ table.image_path }}" id="" border="0" 
       width="{{ table.image.width / 2}}" height="{{ table.image.height / 2}}" />

</div>
