{% extends "db/base.html" %}
{% block content %}
<h2>Screen Information</h2>

	<ul class="basictab">
		<li class='{% selectedTag request "^/db/screens/\d+/detail$" %}'><a  href="{% url screenDetailMain %}">Detail</a></li>
		<li class='{% selectedTag request "^/db/screens/\d+/cells$" %}'><a  href="{% url screenDetailCells %}">Cells Studied</a></li>
		<li class='{% selectedTag request "^/db/screens/\d+/results$" %}'><a  href="{% url screenDetailResults %}">Results</a></li>
	</ul>

	{% for field in object %}
	    <li><b>{{ field.label }}:</b> {{ field.data|safe }}</li>
	{% endfor %}
	{% if cellTable %}
<h2>Cells Studied</h2>
		{% load render_table from django_tables2 %}
		{% render_table cellTable %}
	{% endif %}
		
	{% if table %}
<h2>Screen Results</h2>
		{% load render_table from django_tables2 %}
		{% render_table table %}
	{% else %}
	    <p>Screen Result not loaded.</p>
	{% endif %}
{% endblock %}
	