{% extends "db/base.html" %}
{% load hms_tags %}
{% block content %}
<h2>{% if type == "study" %}Study{% endif %}{% if type == "screen" %}Screen{% endif %} {{ object.facility_id.value }} - {{ object.title.value }}</h2>
	<ul class="basictab">
		<li class='{% selectedTag request "^/db/screen/\d+/main$"%}{%selectedTag request "^/db/screen/\d+/$" %}'><a  href="{% url screen_detail_main screen_id=screenId%}">Detail</a></li>
		<li class='{% selectedTag request "^/db/screen/\d+/cells$" %}'><a  href="{% url screen_detail_cells  screen_id=screenId%}">Cells Studied</a></li>
		<li class='{% selectedTag request "^/db/screen/\d+/proteins$" %}'><a  href="{% url screen_detail_proteins  screen_id=screenId%}">Proteins Studied</a></li>
		<li class='{% selectedTag request "^/db/screen/\d+/results$" %}'><a  href="{% url screen_detail_results screen_id=screenId%}">Results</a></li>
	</ul>
	<div id="screencontent">
	    {% block screenContent %}{% endblock %}
	</div>
{% endblock %}
	