{% extends "db/base.html" %}
{% block content %}
<h2>Small Molecule Information</h2>
	{% for field,info in object.items %}
	  <li><b>{{ info.fieldinformation.get_verbose_name }}:</b> {{ info.value|safe }}</li>
	{% endfor %}
	{% if image_location %}
		<img src="{{ STATIC_URL }}/{{image_location}}" />
	{% endif %}
	
	{% if batchTable %}
		{% load render_table from django_tables2 %}
		{% render_table batchTable %}
	{% endif %}
	{% if smallmolecule_batch %}
		<h3>Batch Information:</h3>
		{% for field,info in smallmolecule_batch.items %}
		  <li><b>{{ info.fieldinformation.get_verbose_name }}:</b> {{ info.value|safe }}</li>
		{% endfor %}
	{% endif %}
	
	
{% endblock %}
