{% extends "base_flatpage.html" %}

{% block requirejs %}
    <script>
     require.config({
         paths: {
             scd: 'single_cell_dynamics/js',
         },
     });
     require( [ 'scd/main' ] );
    </script>
{% endblock %}

{% block head_extra %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}ext/mediaelement/2.13.1/mediaelementplayer.min.css"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}ext/jquery-ui/1.11.4/jquery-ui.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}single_cell_dynamics/css/style.css"/>
{% endblock %}

{% block contentclass %}fullwidth{% endblock %}

{% block article_type %}Data Explorer{% endblock %}
