{% load hmslincs %}

<div class="lookup-table-popup" id="popup-cell-{{ cell.rc_address }}"
     title="{% include "single_cell_dynamics/cell_title.html" %}">
  <a class="media-ondemand" href="{% flatpage_static %}single_cell_dynamics/g/img/popup/{{ cell.rc_address }}.png">Expanded time course</a>
  <img width="400" height="300" />
  <a class="media-ondemand" href="{% flatpage_static %}single_cell_dynamics/g/movies/{{ cell.rc_address }}.mp4">Time-lapse movie of cells</a>
  <video width="300" height="300" type="video/mp4" controls loop></video>
  <a href="{% flatpage_static %}single_cell_dynamics/g/data/ekar_single_cell_data_{{ cell.rc_address }}.csv">Download single-cell data (~4MB, .csv)</a>
</div>
