.signature-popup {
  padding: 0.5em 0;
  background-color: #ffffff;
  border: 2px solid #000;
  display: none;
  position: absolute;
  min-width: 330px;
  z-index: 9999;
  line-height: 12px;
}

.signature-popup h3 {
  font-size: 12pt;
  padding: 0;
  margin: 0 0 0.8em 0;
}

.signature-popup > table {
  border: 0;
  font-size: 10pt;
  width: 100%;
}

.signature-popup tr {
  padding: 0;
  margin: 0;
}

.signature-popup td, .signature-popup th {
  padding: 0 2px;
}

#content .signature-popup th {
  border-bottom: 0;
  padding-bottom: 0.3em;
}

.signature-popup p.note {
  padding: 0 0.5em 0 1.2em;
  margin: 0;
  font-size: 8pt;
  text-indent: -0.7em;
}

.signature {
  text-align: center;
  height: 20px;
}

.signature > img {
  display: block; /* get rid of extra vertical spacing due to text line-height issues */
}

.cell-line-legend table {
  font-size: 8pt;
  margin: 4pt auto 0;
}

.cell-line-legend .caption {
  text-align: center;
}

.cell-line-legend img {
  vertical-align: middle;
}

#pathway-img {
  border: 1px solid black;
  width: 638px;
  height: 432px;
}

#pathway-container {
  position: relative;
  margin: 0 auto;
  width: 640px;
}

.pathway-hotspot {
  position: absolute;
  cursor: pointer;

  /* hack to get IE8 to fire mouse events on these empty divs -- give them a
     background but make it transparent. */
  background: #000;
  opacity: 0.0; /* standard CSS */
  filter: alpha(opacity = 0); /* IE-only */
}

.closebutton {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  color: #FF8216;
  text-decoration: underline;
  cursor: pointer;
}
