<!DOCTYPE html>

<html>

<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <script src="pathway.js"></script>
  <style>
    .signature-popup {
	border: 1px solid red;
	background-color: #f0f0f0;
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
    }
    #pathwayimg {
        border: 1px solid black;
    }
  </style>
</head>

<body>

{% for signature in signatures %}
  {% include "signature.html" %}
{% endfor %}

{{ pathway_source|safe }}

</body>
</html>