/******************************************************************************/

/*
.global,.global *{outline:1px solid red;}
*/

/******************************************************************************/

html,body{height:100%;}
.global,.global *{
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}
.global :not(button){border:0;}
.global{
  font-family:consolas,monaco,courier,monospace;
  font-size:13px;
}
.global table{
  border-spacing:0;
  border-collapse:collapse;
}

/******************************************************************************/

.loading{
  visibility:hidden;
}

/******************************************************************************/

#main .centered-track{
  width:930px;
  background-color:white;
  /*padding:30px;*/
}

/******************************************************************************/

#main .open   .tab > .open,
#main .closed .tab > .close{display:none;}

#main ul,#main li{list-style:initial;} /* undoes reset.css */

#main p{
  margin-top:3ex;
}
#main .tab text{
  font-weight:bold;
  font-size:20px;
  font-family:Helvetica,sans-serif;
}

#main .closed .tab > .open  svg,
#main .open   .tab > .close svg{display:block;}

#main .closed .tab > .close svg,
#main .open   .tab > .open  svg{display:none;}

#main .tab > .open       .outer,
#main .tab               text,
#main .tab > .open:hover .inner{fill:white;}

#main .tab               .inner,
#main .tab > .open:hover .outer,
#main .tab > .open:hover text,
#main .tab > .close      .outer{fill:#E6941E;}

#main .pulldown{
  width:100%;
}

#main .pulldown > div{
  color:white;
  background-color:#E6941E;
  padding:30px 80px 10px;
  -webkit-border-radius:4px;
  border-radius:4px;
  -moz-background-clip:padding;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
}

#main .pulldown a{
  color:indigo;
}

#main .centered-track{
  position:relative;
  margin:0 auto;
  overflow:hidden;
}
#main .tab{
  position:absolute;
  z-index:1;
  cursor:default;
}

#main .content{
  width:100%;
  display:table;
}

/******************************************************************************/

#widget{
  margin:0 auto;
  font-size:11px;
  height:660px;
}

#widget > table td{white-space:normal;} /* undoes hmslincs.css */

#widget > table{margin-top:30px;}

#left-panel{
  width:250px;
}
#left-panel > div{
  margin-bottom:15px;
}
#left-panel > div:last-child{
  margin-top:-10px;
}
#legend li{
  margin-bottom:8px;
}

#widget > table .radio-button-group label{
  display:block;
  padding:0 1ex;
}
#widget > table .radio-button-group .group-label{
  font-weight:bold;
}

#widget > table .radio-button-group input[type='radio'],
#widget > table .radio-button-group label{
  vertical-align:baseline;
}

/******************************************************************************/

/* #widget .buttons > div{ */
/*   padding:10px 0; */
/* } */

#widget .buttons > div > div{
  display:inline-block;
  vertical-align:middle;
}

/******************************************************************************/

#widget #left-panel{
  vertical-align:top;
  padding-top:5px;
}

/******************************************************************************/

#clear{
  float:right;
}
#clear button{
  padding:1px 6px;
}
#clear button:disabled{ 
  opacity:0.5;
  filter:alpha(opacity=50);
}

/******************************************************************************/

#picker{
  width:100%;
}

#picker-container{
  display:inline-block;
}

.list-container{
  cursor:default;
}

.list-container li{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.list-container ul{
  list-style:none;
}
.list-container li{
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
}

.list-container li{
  float:left;
}
.list-container br{
  clear:left;
}

#picker ul{
  padding-left:0;
}

/****** columnation ******/

/* TBD = to be determined (dynamically, that is) */

/*
#picker ul, #picker ol{
  width:TBD;
}
#picker li{
  width:TBD;
}
*/

#picker li{
  margin:0 5px;
  padding:0 5px;
}
#picker li{
  line-height:2.5ex;
}
#picker{
  background-color:white;
  border:1px solid black;
  -webkit-border-radius:4px;
  border-radius:4px;
  -moz-background-clip:padding;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
}

#picker li{
  color:black;
  background-color:white;
  margin-bottom:1px;
}
#picker .y-level{
  outline:1px solid black;
  font-weight:bold;
}

#picker .title{
  width:100%;
  text-align:center;
  border-bottom:1px solid black;
  margin-top:0.5ex;
  margin-bottom:0.5ex;
  font-weight:bold;
}

#off-stage{
  position:relative;
}
#off-stage .list-container{
  position:absolute;
  left:-1000000px;
}

/******************************************************************************/

#legend{
  margin:0;
  padding:0;
  list-style:none;
  width:100%;
}
#legend li{
  line-height:11px;
}
#legend table{
  width:100%;
}
#legend td{
  vertical-align:top;
}
#legend .bullet{
  font-size:26px;
  width:26px;
  line-height:8px;
  opacity:0.75;
  filter:alpha(opacity=75);
}
#legend .entry{
  font-size:11px;
  color:black;
}

/******************************************************************************/

#widget .stage{
  padding:0;
}

/******************************************************************************/

.canvas,
.diagonal,
.frame,
.axis path,
.axis line{
  shape-rendering:crispEdges;
  stroke:#aaa;
  fill:none;
}

.axis path{
  display:none;
}

/******************************************************************************/

.plot-label{ 
  font-family:Consolas, Monaco, Courier, monospace;
  font-size:12px;
}
.math{font-style:italic;}
.subscript{font-size:smaller;}

/******************************************************************************/

.scatterplot-marker{
  pointer-events:all;
  cursor:help;
}
.circ{
  stroke-width:0;
  fill-opacity:0.75;
}
.hbar,.vbar{
  stroke-width:1;
  shape-rendering:crispEdges;
}

/******************************************************************************/

.clear-right{
  clear:right;
}
.clear-left{
  clear:left;
}

/******************************************************************************/
