#main,#main *{
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}
#ignore *{
  margin:0;
  padding:0;
  border:0;
  outline:0;
}
/*
#main *{outline:1px solid red;}
html{background-color:#dedede;}
*/
/**/
html,
#main{background-color:white;}

#main.loading{visibility:hidden;}

#main{
  font-family: Consolas, Monaco, Courier, monospace;
}
table{
  border-spacing:0;
  border-collapse:collapse;
}
input[type='radio'],.radio-button-group label{
  vertical-align: baseline;
}
.radio-button-group label{
  display:block;
  padding:0 1ex;
}
.radio-button-group .group-label{
  font-weight:bold;
}
#main{
  width:850px;
  margin:0 auto;
}

#main .buttons td{
  vertical-align:bottom;
  padding:10px;
}
#main .buttons td > div > div{
  display:inline-block;
  vertical-align:middle;
}
#main .buttons td:last-child > div{
  float:right;
  margin-right:50px;
}
#main .buttons > td{
  white-space:nowrap;
}

#main td.stage{
  padding:0;
}

#main tr:nth-child(2) > td{
  vertical-align:top;
}

/******************************************************************************/

svg{
  display:block;
}

.circle-marker,.hbar,.vbar,.cross{
  cursor:pointer;
}

.hbar,
.vbar,
.cross,
.one-d-mark,
.guide,
rect.canvas,
rect.track-cell,
#backdrop,
.diagonal,
.frame,
.axis path,
.axis line{
  shape-rendering: crispEdges
}
rect.track-cell,rect.label-cell{
  fill:none;
  cursor:default;
}

.label{
  cursor:default;
}
.highlit {
  font-weight:bold;
  filter:url(#highlight);
}

.circle-marker{
  stroke:none;
}
.one-d-mark,.hbar,.vbar,.cross{
  fill:none;
  stroke-width:1;
}

.diagonal,
.frame,
.axis path,
.axis line{
  fill: none;
}
.axis path {
  display: none;
}

rect.track-cell,
.diagonal,
.frame,
.one-d-mark,
.axis line{
  stroke:#aaa;
}
rect.label-cell{
  stroke:none;
}

svg {
  font: 10px sans-serif;
}

.cell {
  pointer-events: all;
}


/*
.frame{
  stroke-width:0;
}
.axis line,.axis path{
  stroke-width:3;
}
.axis path{
  stroke:red;
}
.axis line{
  stroke:green;
}
#backdrop{
  fill:white;
  stroke:black;
}
*/


/******************************************************************************/
/* virtual track pad */

.list-container{
  cursor:default;
}

.list-container li{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.list-container ul{
  list-style:none;
}
.list-container li{
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.list-container li{
  float:left;
}
.list-container br{
  clear:left;
}

#legend > li > span{
  color:black;
}

#track,#legend > li > span{
  font-size:8pt;
}
#legend .bullet{
  font-size:14px !important;
}
#track{
  width:100%;
}
#legend{
  margin:0;
  padding:0;
  list-style:none;
}

/* columnation */

/* TBD = to be determined (dynamically, that is) */

/*
#track ul, #track ol{
  width: TBD;
}
#track li{
  width: TBD;
}
*/

#track li{       /**/
  margin:0 5px;
  padding:0 5px;
}                   /**/
#track li{
  line-height:2.5ex;
}
#track{
  background-color:white;
  border:1px solid black;
  /* box-shadow voodoo generated by css3please.com */
     -webkit-border-radius: 4px;
     border-radius: 4px;
     -moz-background-clip: padding;
     -webkit-background-clip: padding-box;
     background-clip: padding-box;
  /* --------------------------------------------- */
}

/*
.list-container {
  margin-bottom: 1em;
}
*/

/*
.list-container .title, .list-container li{
  color:black;
  background-color:white;
}
*/

#track li{
  color:black;
  background-color:white;
  margin-bottom:1px;
}
#track .y-level{
  outline:1px solid black;
  font-weight:bold;
}

/*
#track li:hover:not(.y-level){
  opacity:0.75;
  filter:alpha(opacity=75);
}
*/

/*
#track {
  margin-top:1ex;
  margin-bottom:1ex;
}
*/

#track .title{
  width:100%;
  text-align:center;
  border-bottom:1px solid black;
  margin-top:0.5ex;
  margin-bottom:0.5ex;
  font-weight:bold;
}

#track-container{
  display:inline-block;
}
/******************************************************************************/
#off-stage {
  position:relative;
}
#off-stage .list-container,#off-stage .sb-measure{
  position:absolute;
  left:-1000000px;
}
.sb-measure{
  width: 100px;
  height: 100px;
  overflow: scroll;
}

/******************************************************************************/

#track ul{
  padding-left:0;
}
#legend{
  float:left;
}
#clear{
  float:right;
}
#clear button{ 
  padding:1px 6px;
}
#legend,#clear{
  vertical-align:top;
}




/******************************************************************************/
#main,body,#usage-wrapper{margin-top:10px;}
#main > table{margin-top:20px;}

#usage-wrapper{
  position:relative;
  padding:0;
  padding-bottom:3px;
  margin:0;
  /*margin-top:30px;*/
  /*outline:1px solid red;*/
  font-size:14px;
}

#usage-wrapper ul{
  padding-left:20px;
  padding-bottom:1ex;
  margin-bottom:0;
  margin-top:0;
  /*border-bottom:1px solid #999;*/
}

/* the following is needed to countermand reset.css */
#usage-wrapper ul,
#usage-wrapper li{
  list-style:initial;
}

#usage-wrapper .tab{
  position:absolute;
  display:table;
  margin:0;
  padding:0;
  top:0px;
  right:0px;
  font-family:Courier;
  font-size:large;
}

#usage-wrapper .tab{
  font-weight:bold;
  font-stretch:ultra-expanded;
}

#usage-wrapper .opened.usage .dingbat{
  font-weight:normal;
  font-stretch:normal;
}

#usage-wrapper .content{
  padding:2ex 3em;
}

#usage-wrapper .content .button-reference{
  outline:1px solid white;
  padding:0 3px;
  font-family:Courier;
}

#usage-wrapper .content{
  color:white;
  background-color:#E6941E;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/* #usage-wrapper .content a{ */
/*   color:#0ee; */
/* } */
/* #usage-wrapper .content a:hover{ */
/*   color:#0ff; */
/* } */
#usage-wrapper .content a{
  color:#0ff;
}
#usage-wrapper .content a:hover{
  color:#dff;
}


#usage-wrapper > .tab .dingbat,
#usage-wrapper > .tab .arrow{
  margin:0 auto;
}

#usage-wrapper > .closed.usage .content{
  display:none;
}

#usage-wrapper > .opened.usage .open.tab{
  display:none;
}

#usage-wrapper > .closed.usage .close.tab,
  display:none;
}

#usage-wrapper > .opened.usage svg text{
  cursor:default;
}

#usage-wrapper > .opened.usage svg text,
#usage-wrapper > .opened.usage .tab{
  cursor:default;
}

#usage-wrapper > .closed.usage .tab{
  cursor:default;
}

#usage-wrapper .arrow{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  line-height:25%;
}

.tab line{
  shape-rendering:crispEdges;
  stroke:white;/*#555555;*/
  /*stroke-width:2;*/
  stroke-width:1;
}
.open.tab text{
  font-family:Consolas, Monaco, Courier, monospace;
  font-weight:bold;
  font-size:22px;
}

.closed.usage .close.tab svg,
.opened.usage .open.tab  svg{display:none;}

.open.tab       .outer,
.open.tab       text,
.open.tab:hover .inner{fill:white;}

.open.tab       .inner,
.open.tab:hover .outer,
.open.tab:hover text,
.close.tab      .outer{fill:#E6941E;}

