#main,#main *{
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}
#ignore *{
  margin:0;
  padding:0;
  border:0;
  outline:0;
}
/*
*{outline:1px solid red;}
html{background-color:#dedede;}
*/
/**/
html,
#main{background-color:white;}

#main{
  font-family: Consolas, Monaco, Courier, monospace;
}
table{
  border-spacing:0;
  border-collapse:collapse;
}
input[type='radio'],label{
  vertical-align: baseline;
}
label{
  display:block;
  padding:0 1ex;
}
/*
label:hover{
  color:white;
  background-color:#dc4916;
}
*/
#main{
  width:850px;
  /*width:600px;*/
  margin:0 auto;
}
/*
#main > *:first-child{
  width:100%;
}
*/
#left-panel{
  float:left;
}
#right-panel{
  width:600px;
  float:right;
  /*margin:0 auto;*/
}
#right-panel > *:first-child{
  width:100%;
}

.buttons td{
  /*display:inline-block;*/
  vertical-align:bottom;
  padding:10px;
}
#main td.stage{
  padding:0;
}
#main tr:first-child > td{
  white-space:nowrap;
}
#main tr:first-child > td:last-child{
  float:right;
  padding-right:50px;
}
#main tr:nth-child(2) > td{
  vertical-align:top;
}

/*
#main tr:nth-child(2) > td{
  border-top:1px solid #999;
}
#main td:last-child{
  border-left:1px solid #999;
}
*/

/*
#clear{
  position:relative;
}
#clear button{
  position:absolute;
  top:10px;
  right:250px;
}
*/
/*
#main{
  position:relative;
}
.right-panel{
  background-color:#dc4916;
  color:white;
  position:absolute;
  display:table;
  left:20%;
  width:300px;
  top:0;
  bottom:0;
}
*/

/******************************************************************************/

svg{
  display:block;
}

.hbar,
.vbar,
.guide,
rect.canvas,
rect.track-cell,
#backdrop,
.diagonal,
.frame,
.axis path,
.axis line{
  shape-rendering: crispEdges
}
rect.track-cell,rect.label-cell{
  fill:none;
  cursor:default;
}

.label{
  cursor:default;
}
.highlit {
  font-weight:bold;
  filter:url(#highlight);
}

.circle-marker{
  stroke:none;
}
.hbar, .vbar{
  fill:none;
  stroke-width:1;
}

.diagonal,
.frame,
.axis path,
.axis line{
  fill: none;
}
.axis path {
  display: none;
}

rect.track-cell,
.diagonal,
.frame,
.axis line{
  stroke:#aaa;
}
rect.label-cell{
  stroke:none;
}

svg {
  font: 10px sans-serif;
}

.cell {
  pointer-events: all;
}


/*
.frame{
  stroke-width:0;
}
.axis line,.axis path{
  stroke-width:3;
}
.axis path{
  stroke:red;
}
.axis line{
  stroke:green;
}
#backdrop{
  fill:white;
  stroke:black;
}
*/


/******************************************************************************/
/* virtual track pad */

.list-container{
  cursor:default;
}

.list-container li{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.list-container ul{
  list-style:none;
}
.list-container li{
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.list-container li{
  float:left;
}
.list-container br{
  clear:left;
}

#track-container{width:375px;}
#track{
  font-family: Consolas, Monaco, "Andale Mono WT", "Andale Mono", "Nimbus Mono L", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Courier New", Courier, monospace;
}
#legend > li > span{
  color:black;
}

#track,#legend > li > span{
  font-size:8pt;
}
#legend .bullet{
  font-size:14px !important;
}
#track{
  width:100%;
}
#legend{
  margin:0;
  padding:0;
  list-style:none;
}

/* columnation */

/* TBD = to be determined (dynamically, that is) */

/*
#track ul, #track ol{
  width: TBD;
}
#track li{
  width: TBD;
}
*/

#track li{       /**/
  margin:0 5px;
  padding:0 5px;
}                   /**/
#track li{
  line-height:2.5ex;
}
#track{
  background-color:white;
  border:1px solid black;
  /* box-shadow voodoo generated by css3please.com */
     -webkit-border-radius: 4px;
     border-radius: 4px;
     -moz-background-clip: padding;
     -webkit-background-clip: padding-box;
     background-clip: padding-box;
  /* --------------------------------------------- */
}

/*
.list-container {
  margin-bottom: 1em;
}
*/

/*
.list-container .title, .list-container li{
  color:black;
  background-color:white;
}
*/

#track li{
  color:black;
  background-color:white;
  margin-bottom:1px;
}
#track .y-level{
  outline:1px solid black;
  font-weight:bold;
}
/*
#track li:hover:not(.y-level){
  color:white;
  opacity:0.75;
  filter:alpha(opacity=75);
}
*/
/*
#track {
  margin-top:1ex;
  margin-bottom:1ex;
}
*/
#track {
  visibility:hidden;
}

#track .title{
  width:100%;
  text-align:center;
  border-bottom:1px solid black;
  margin-top:0.5ex;
  margin-bottom:0.5ex;
  font-weight:bold;
}

#track-container{
  display:inline-block;
}
/******************************************************************************/
#off-stage {
  position:relative;
}
#off-stage .list-container,#off-stage .sb-measure{
  position:absolute;
  left:-1000000px;
}
.sb-measure{
  width: 100px;
  height: 100px;
  overflow: scroll;
}

/******************************************************************************/
.fake-ul{
padding-left:0;
width:248px;
}
.fake-ul li{
  border-width: 1px;
  padding: 0px 5px;
  margin: 0px 5px;
  width: 114px;
}
#track ul{
  padding-left:0;
}
#legend{
  float:left;
}
#clear{
  float:right;
}
#clear button{ 
  padding:1px 6px;
}
#legend,#clear{
  vertical-align:top;
}




/******************************************************************************/
#main,body,#usage-wrapper{margin-top:10px;}
#main > table{margin-top:20px;}

#usage-wrapper{
  position:relative;
  padding:0;
  padding-bottom:3px;
  margin:0;
  /*margin-top:30px;*/
  /*outline:1px solid red;*/
  font-size:14px;
}

#usage-wrapper ul{
  padding-left:20px;
  padding-bottom:1ex;
  margin-bottom:0;
  margin-top:0;
  /*border-bottom:1px solid #999;*/
}

/* the following is needed to countermand reset.css */
#usage-wrapper ul,
#usage-wrapper li{
  list-style:initial;
}

#usage-wrapper .tab{
  position:absolute;
  display:table;
  margin:0;
  padding:0;

/*
  top:0;
  left:100%;
  margin-left:0.5em;
*/
/*
  bottom:100%;
  left:5px;
  margin-bottom:0.5ex;
*/
/*
  top:10px;
  right:10px;
*/
  top:0px;
  right:0px;

  font-family:Courier;
  font-size:large;

}

#usage-wrapper .tab{
  font-weight:bold;
  font-stretch:ultra-expanded;
}

#usage-wrapper .opened.usage .dingbat{
  font-weight:normal;
  font-stretch:normal;
}

#usage-wrapper .content{
  padding:2ex 3em;
}

#usage-wrapper .content{
  color:white;
  background-color:#E6941E;
  /* box-shadow voodoo generated by css3please.com */
     -webkit-border-radius: 4px;
     border-radius: 4px;
     -moz-background-clip: padding;
     -webkit-background-clip: padding-box;
     background-clip: padding-box;
  /* --------------------------------------------- */

}

#usage-wrapper > .tab .dingbat,
#usage-wrapper > .tab .arrow{
  margin:0 auto;
}

#usage-wrapper > .closed.usage .content{
  display:none;
}

#usage-wrapper > .opened.usage .open.tab{
  display:none;
}

#usage-wrapper > .closed.usage .close.tab,
  display:none;
}

#usage-wrapper > .opened.usage svg text{
  cursor:default;
}

#usage-wrapper > .opened.usage svg text,
#usage-wrapper > .opened.usage .tab{
  cursor:default;
}

#usage-wrapper > .closed.usage .tab{
  cursor:default;
}

#usage-wrapper .arrow{
/*display:inline-block;*/
/*position:absolute;*/
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-o-transform: rotate(90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
line-height:25%;
}

.tab line{
  shape-rendering:crispEdges;
  stroke:white;/*#555555;*/
  /*stroke-width:2;*/
  stroke-width:1;
}
.tab text{
  font-family:Consolas, Monaco, Courier, monospace;
  font-weight:bold;
  font-size:22px;
  fill:#E6941E;/*white;*//*#555555;*/
}

.tab circle{
  /*fill:#E6941E;*//*#dc4916;*/
  /*stroke:#E6941E;*//*#dc4916;*/
  /*stroke-width:4;*/
  /*fill:none;*/
  stroke:none;
  /*pointer-events:all;*/
}
.tab .outer{
  fill:#E6941E;
}
.tab circle.inner{
  fill:white;
}

/*
.tab{
  outline:1px solid red;
}
*/
