#content table table {
  border: 0;
}
#content table table td {
  border-right: 0;
}
#content table table td:first-child {
  padding-left: 0;
}
#content table table tr:nth-child(2n) {
  background-color: inherit;
}
h2 {
  padding-top: 1em;
}
td {
  white-space: inherit;
}
img {
  max-width: inherit;
}

.lookup-table-container{
  padding:20px;
  border:1px solid #aaa;
  margin-bottom:10px;
}

.lookup-table-container > h2{
  margin:0 !important;
  padding:0 !important;
}

.lookup-table-container > div{
  position: relative;
  margin: 0 auto;
  width: 870px;
}
.lookup-table-container > div > .level-label > div{
  width:100%;
  height:100%;
}
.lookup-table-hotspot,.lookup-table-container > div > .level-label > div{
  position: absolute;
  cursor: pointer;
  background: #f7ab53;
  opacity: 0.0;
  filter: alpha(opacity = 0);
}
.lookup-table-hotspot:hover,.lookup-table-container > div > .level-label > div:hover {
  opacity: 0.35;
  filter: alpha(opacity = 35);
}
.lookup-table-popup {
  display: none;
  background: white;
}
.lookup-table-container > div > .level-label {
  display: block;
  position: absolute;
  font-size: 0;
}

#citation-notice { 
  border-top:1px solid #aaa  !important;
  padding-top:1ex            !important;
  padding-left:1em           !important;
  margin-top:10ex            !important;
  margin-bottom:0            !important;
}

#citation-notice p{
  margin:0                   !important;
}

#legend-smallbox-lookuptables {
  width:200px                !important;
  float:right                !important;
  margin:0                   !important;
  margin-left:20px           !important;
  padding:10px               !important;
  border:1px solid #aaa      !important;
}

table.general-info-cell-line{
  table-layout:fixed         !important;
  width:100%                 !important;
  min-width:40em             !important;
}

table.general-info-cell-line td{
  vertical-align:top         !important;
}

table.general-info-cell-line td:first-child{
  width:10em                 !important;
  white-space:nowrap         !important;
}

table.general-info-cell-line td.culture-conditions{
  white-space:normal         !important;
}

.titled-figure {
  text-align: center;
  float: left;
}
.titled-figure-clear {
  clear: left;
}

.top-nav {
  position: absolute;
  right: 0px;
  top: 35px;
}
.top-nav a{
  text-decoration:none       !important;
  text-transform:uppercase   !important;
  font-weight:bold           !important;
  color:#fff                 !important;
  font-size:14px             !important;
}

ul.button-bar > li{
  display:inline-block       !important;
  margin-left:10px;
}
ul.button-bar > li:first-child{
  margin-left:0;
}

p.caption {
  font-size: 90%;
  margin: 0 30px 10px;
}

.pseudo-button{
  -webkit-border-radius:4px  !important;
  -moz-border-radius:4px     !important;
  border-radius:4px          !important;
  color:#fff                 !important;
  font-size:17px             !important;
  font-weight:bold           !important;
  padding:6px 11px           !important;
  text-align:center          !important;
  margin:0                   !important;
  border:0                   !important;
  background-color:#e91      !important;
  cursor:default             !important;
}
.pseudo-button:hover{
  background-color:#e70      !important;
}

a.lightbox-link {
  cursor: zoom-in;
}

/* #signaling-matrix-link{ */
/*   margin-left:10px           !important; */
/* } */

/* Override some jquery theme items. */

.ui-dialog .ui-dialog-titlebar {
  padding: 0 0.4em;
}
.ui-dialog {
  box-shadow: 10px 10px 10px rgba(0,0,0,0.7)
  margin-left:auto; margin-right:auto;
}

.ui-widget-overlay {
  background: #000000;
  opacity: 0.6;
}
